<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <!--===== main =======-->
    <section class="py-5 container bg-light-subtle" layout:fragment="main">
        <h5>Lịch sử đơn hàng</h5>
        <div class="order-status">
            <!-- Chờ xác nhận -->
            <div class="status-item completed">
                <div class="icon" style="border-color: rgb(39, 207, 39);">
                    <img src="/site/images/orderStatus/loading.gif" style="width: 30px;">
                </div>
                <div>Chờ xác nhận</div>
            </div>

            <!-- Chờ giao hàng -->
            <div class="status-item in-progress">
                <div class="icon" style="border-color: yellow;">
                    <img src="https://img.icons8.com/ios-filled/50/000000/task.png" alt="Chờ giao hàng"
                        style="width: 30px;">
                </div>
                <div>Chờ giao hàng</div>
            </div>

            <!-- Đang vận chuyển -->
            <div class="status-item">
                <div class="icon" style="border-color: orange;">
                    <img src="https://img.icons8.com/ios-filled/50/000000/delivery.png" alt="Đang vận chuyển"
                        style="width: 30px;">
                </div>
                <div>Đang vận chuyển</div>
            </div>

            <!-- Đã giao hàng -->
            <div class="status-item">
                <div class="icon" style="border-color: #ff9933;">
                    <img src="/site/images/orderStatus/nhanhang.png"
                        alt="Đã giao hàng" style="width: 30px;">
                </div>
                <div>Đã giao hàng</div>
            </div>

            <!-- Hoàn thành -->
            <div class="status-item">
                <div class="icon" style="border-color: green;">
                    <img src="/site/images/orderStatus/hoanthanh.png"
                        alt="Hoàn thành" style="width: 30px;">
                </div>
                <div>Hoàn thành</div>
            </div>
        </div>
    </section>
</body>

</html>