<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
</head>

<body>
    <!--===== main =======-->
    <section class="py-5 container bg-light-subtle" layout:fragment="main">
        <div class="row p-2 ">
            <div class="col-lg-8 bg-white border-end">
                <h3 class="my-4">ĐỊA CHỈ GIAO HÀNG</h3>
                <form>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">Họ*</label>
                            <input type="text" class="form-control" id="firstName" required>
                            <div class="form-text">Họ phải chứa 2-40 ký tự</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">Tên*</label>
                            <input type="text" class="form-control" id="lastName" required>
                            <div class="form-text">Tên phải chứa 2-40 ký tự</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">Số điện thoại*</label>
                            <div class="input-group">
                                <span class="input-group-text">VN +84</span>
                                <input type="text" class="form-control" id="phone" required>
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="altPhone" class="form-label">Số điện thoại thay thế (Không bắt buộc)</label>
                            <div class="input-group">
                                <span class="input-group-text">VN +84</span>
                                <input type="text" class="form-control" id="altPhone">
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="streetAddress" class="form-label">Địa chỉ đường phố*</label>
                        <input type="text" class="form-control" id="streetAddress"
                            placeholder="Địa chỉ đường phố, căn hộ, Suite, Đơn vị, v.v." required>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="province" class="form-label">Tỉnh*</label>
                            <select id="province" class="form-select" required>
                                <option value="">Vui lòng chọn tỉnh của bạn</option>
                            </select>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="city" class="form-label">Thành phố*</label>
                            <select id="city" class="form-select" required>
                                <option value="">Vui lòng chọn thành phố của bạn</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="postalCode" class="form-label">Mã bưu điện*</label>
                        <input type="text" class="form-control" id="postalCode" required>
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="defaultAddress">
                        <label class="form-check-label" for="defaultAddress">Đặt địa chỉ mặc định</label>
                    </div>
                    <div class="py-3 text-center">
                        <a class="" href="">
                            <button class="btn-order-save">LƯU</button>
                        </a>
                    </div>
                </form>
            </div>

            <div class="col-lg-4 border-start">
                <div class="order-summary bg-white">
                    <h3 class="mb-4">Tóm Tắt Đơn Hàng</h3>
                    <div class="order-total">332.000₫</div>
                    <div class="mb-3">
                        <label for="discountCode" class="form-label">Mã phiếu giảm giá</label>
                        <input type="text" class="form-control" id="discountCode">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn-order-save mt-2" disabled>Đã xong</button>
                        </div>
                    </div>
                    <div class="payment py-4">
                        <h5>Phương thức thanh toán</h5>
                        <div class="payment-method-radio">
                            <!-- Thanh toán khi nhận hàng -->
                            <div class="payment-method-card">
                                <input class="form-check-input me-2" type="radio" name="paymentMethod" id="cod"
                                    value="cod">
                                <img src="https://img.icons8.com/ios-filled/50/000000/cash-in-hand.png" alt="COD">
                            </div>
                            <!-- Thanh toán VNPay -->
                            <div class="payment-method-card">
                                <input class="form-check-input me-2" type="radio" name="paymentMethod" id="vnpay"
                                    value="vnpay">
                                <img src="/site/images/logo/vnpay.png" alt="VNPay">
                            </div>
                            <div class="payment-method-card">
                                <input class="form-check-input me-2" type="radio" name="paymentMethod" id="vnpay"
                                    value="vnpay">
                                <img src="/site/images/logo/zalo.png" alt="VNPay">
                            </div>
                        </div>
                    </div>
                    <a class="py-5" href="/yourstyle/order">
                        <button class="btn-cart-detail">ĐẶT HÀNG</button>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>