<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
    <title>Lịch sử đơn hàng</title>
</head>

<body>
    <!--===== main =======-->
    <section class="py-5 container bg-light" layout:fragment="main">
        <div th:if="${order.getStatusCode() == 5}"class="float-end text-danger">
            <form th:action="@{/yourstyle/order/complete/{id}(id=${order.orderId})}"
                method="post" style="display:inline;">
                <button type="submit" class="btn btn-link float-end mb-3 text-danger">
                    <i class="bi bi-check2 fs-5"> HOÀN THÀNH</i>
                </button>
            </form>
        </div>

        <button th:if="${order.getStatusCode() == 6}" type="button" class="btn btn-link float-end mb-3 text-danger"
            data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            <i class="bi bi-exclamation-triangle fs-5"> TRẢ HÀNG</i>
        </button>

        <div class="container my-5">
            <a th:href="@{/yourstyle/order/orderhistory}" class="btn btn-link mb-3">← Trở Lại</a>

            <h1 th:if="${order.getStatusCode() == 0}" class="text-center text-danger"
                th:text="${order.transactionStatus ?: ''}"></h1>
            <div class="order-status row">
                <section class="py-1 bg-light">
                    <div class="order-status row">
                        <div class="order-status-timeline">
                            <div class="fill-bar"></div>
                        </div>
                    </div>
                </section>
                <!-- Trạng thái đơn hàng -->
                <div class="d-flex justify-content-between mb-4 position-relative order-status-time">
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-box-seam"></i><br>
                        Đơn Hàng Đã Đặt <br><small>[[${#dates.format(order.orderDate,'dd-MM-yyyy HH:mm:ss')}]]</small>
                    </div>
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-house-door"></i><br>
                        ĐANG ĐÓNG GÓI <br><small>[[${#dates.format(latestStatusTime['PACKING'], 'dd-MM-yyyy
                            HH:mm:ss')}]]</small>
                    </div>
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-truck"></i><br>
                        GIAO VẬN CHUYỂN <br><small>[[${#dates.format(latestStatusTime['SHIPPED'], 'dd-MM-yyyy
                            HH:mm:ss')}]]</small>
                    </div>
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-box-arrow-up"></i><br>
                        ĐANG GIAO HÀNG <br><small>[[${#dates.format(latestStatusTime['IN_TRANSIT'], 'dd-MM-yyyy
                            HH:mm:ss')}]]</small>
                    </div>
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-currency-dollar"></i><br>
                        ĐÃ THANH TOÁN <br><small>[[${#dates.format(latestStatusTime['PAID'], 'dd-MM-yyyy HH:mm:ss')
                            }]]</small>
                    </div>
                    <div class="text-center icon-container">
                        <div class="icon-wrapper">
                            <i class="bi bi-check2-square"></i><br>
                        </div>
                        <i class="bi bi-star"></i><br>
                        Hoàn Thành <br><small>[[${#dates.format(latestStatusTime['COMPLETED'], 'dd-MM-yyyy
                            HH:mm:ss')}]]</small>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Hiển thị địa chỉ giao hàng -->
                <div class="row d-flex py-5">
                    <div class="text-start col-md-6">
                        <h4><strong>Địa chỉ nhận hàng</strong></h4>
                        <p th:if="${defaultAddress != null}">
                            <span th:text="${customer.fullname}"></span><br>
                            <span th:text="'(+84 )' + ' ' + ${customer.phoneNumber}"></span><br>
                            <span
                                th:text="${defaultAddress.street} + ', ' + ${defaultAddress.district} + ', ' + ${defaultAddress.city} + ', ' + ${defaultAddress.ward}"></span>
                        </p>
                        <p th:if="${defaultAddress == null}">
                            <span>Bạn chưa có địa chỉ.</span>
                        </p>
                    </div>
                    <div class="text-end col-md-6 bg-light">
                        <p>Áp dụng mã:
                            <span
                                th:text="${order.voucher != null ? order.voucher.voucherName : 'Không có voucher'}"></span>
                        </p>
                        <p>Thành tiền: <span class="text-danger"
                                th:text="${#numbers.formatDecimal(order.totalAmount, 1, 'COMMA', 3, 'POINT') + ' Đ'}"></span>
                        </p>
                        <span
                            th:text="${order.transactionType ?: 'Đang xử lý'} + ' - ' + ${order.transactionStatus ?: ''}"></span>
                        <span class="badge" th:classappend="${order.status == 9 ? 'bg-warning' : 'bg-success'}"
                            th:text="${order.getStatusDescription()}">Status</span>
                        <span id="order-status" th:attr="data-status=${order.getStatusCode()}"></span>
                    </div>
                </div>

                <div th:each="detail : ${orderDetails}">
                    <div class="d-flex py-2">
                        <img th:src="@{'/uploads/' + ${detail.productVariant.product.image}}" alt="Product Image"
                            width="140" class="me-3 img-fluid" />
                        <div>
                            <h6 th:text="${detail.productVariant.product.name}">Tên sản phẩm</h6>
                            <p>Số lượng: <span th:text="${detail.quantity}"></span></p>
                            <p>Giá: <span
                                    th:text="${#numbers.formatDecimal(detail.price, 1, 'COMMA', 3, 'POINT') + ' Đ'}"></span>
                            </p>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Lưu ý Về việc trả hàng</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Khi bạn muốn trả hàng vui lòng liên hệ nhân viên hoạc nhắn tin trực tiếp, bạn
                                        phải cung cấp được lý do trả hàng và Mã hóa đơn, khi có xác nhận từ nhân viên
                                        bạn có thể trả lại hàng và sẽ được hoàn lại tiền trong thời gian cụ thể</p><br>
                                    <h4>MÃ HÓA ĐƠN CỦA BẠN LÀ:
                                        <strong class="text-danger">HD <span th:text="${order.orderId}"></span></strong>
                                    </h4><br>
                                    <h5>Bạn có thể liên hệ qua SDT: 0359690062</h5>
                                    <h5>Hoạc liên hệ qua dịch vụ tin nhắn có trên trang web</h5>
                                    <h5>Hoạc click vào đây
                                        <a
                                            href="https://www.messenger.com/t/468726266327729/?messaging_source=source%3Apages%3Amessage_shortlink&source_id=1441792&recurring_notification=0">messeger</a>
                                        ,<a href="https://zalo.me/0899871800">Zalo</a>
                                    </h5>
                                    <h5>Xin chân thành cảm ơn!</h5>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ĐÃ
                                        RÕ</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const orderStatus = document.getElementById("order-status").getAttribute("data-status") || 9;

                if (orderStatus == 9) {
                    console.log("Status is 9, no progress animation will run.");
                    return;
                }

                const maxStatus = 6;
                const progressWidth = (orderStatus / maxStatus) * 100;

                console.log("Progress Width: ", progressWidth);

                const fillBar = document.querySelector(".fill-bar");
                fillBar.style.transition = "width 4s ease";
                fillBar.style.width = progressWidth + "%";

                const timelineItems = document.querySelectorAll(".icon-wrapper");
                timelineItems.forEach((item, index) => {
                    if (index + 1 <= orderStatus) {
                        item.classList.add("active");
                    } else {
                        item.classList.remove("active");
                    }
                });
            });

        </script>

    </section>
</body>

</html>