<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
    <!-- Thêm SweetAlert2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.css" rel="stylesheet">

    <!-- Thêm SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.0/dist/sweetalert2.min.js"></script>

</head>

<body>
    <!--===== main =======-->
    <section class="py-5 container bg-light-subtle" layout:fragment="main">
        <a th:href="@{/yourstyle/carts/cartdetail}" class="btn btn-link mb-3">← Trở Lại</a>
        <div class="row py-2 mx-1">
            <div class="col-lg-8 bg-white border-end">
                <h3 class="my-4">ĐỊA CHỈ GIAO HÀNG</h3>
                <form class="info-customer-form" id="customerForm" action="/yourstyle/carts/save" method="post"
                    th:object="${customer}">
                    <input type="hidden" name="account.accountId" th:value="${customer.account.accountId}" />
                    <input type="hidden" name="customerId" th:value="${customer.customerId}" />

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="firstName" class="form-label">Họ và tên</label>
                            <input type="text" class="form-control" id="firstName" name="fullname"
                                th:field="*{fullname}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="lastName" class="form-label">Email</label>
                            <input type="text" class="form-control" id="lastName" name="email"
                                th:value="${account.email}" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">Số điện thoại*</label>
                            <div class="input-group">
                                <span class="input-group-text">VN +84</span>
                                <input type="text" class="form-control" id="phone" name="phoneNumber"
                                    th:field="*{phoneNumber}" required>
                            </div>
                        </div>
                    </div>

                    <!-- Hiển thị địa chỉ mặc định nếu có -->
                    <div th:if="${#lists.size(customer.addresses) > 0}">
                        <h3 class="pt-3">Địa chỉ hiện tại của bạn </h3>
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Số nhà tên đường*</label>
                            <input type="text" class="form-control" id="streetAddress" name="addresses[0].street"
                                th:field="*{defaultAddress.street}" required readonly>
                        </div>
                        <div class="mb-3">
                            <label for="cityDisplay" class="form-label">Tỉnh/thành phố:</label>
                            <input type="text" class="form-control" id="cityDisplay"
                                th:value="${customer.defaultAddress.city}" readonly>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="districtDisplay" class="form-label">Quận/huyện:</label>
                                <input type="text" class="form-control" id="districtDisplay"
                                    th:value="${customer.defaultAddress.district}" readonly>
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="wardDisplay" class="form-label">Xã/phường/thị trấn:</label>
                                <input type="text" class="form-control" id="wardDisplay"
                                    th:value="${customer.defaultAddress.ward}" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Hiển thị các trường chọn địa chỉ nếu không có địa chỉ nào -->
                    <div th:if="${#lists.size(customer.addresses) == 0}">
                        <div class="mb-3">
                            <label for="streetAddress" class="form-label">Địa chỉ cụ thể*</label>
                            <input type="text" class="form-control" id="streetAddress" name="addresses[0].street"
                                th:field="*{defaultAddress.street}" required>
                        </div>

                        <!-- City -->
                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <select class="form-select floatingcity" id="city" onchange="updateCityName(this)">
                                    <option selected>Chọn Tỉnh/thành phố</option>
                                </select>
                                <label for="floatingCity">
                                    <span class="text-danger">*</span>
                                    Chọn Tỉnh/thành phố
                                </label>
                                <div th:if="${#fields.hasErrors('defaultAddress.city')}" class="text-danger"
                                    th:errors="*{defaultAddress.city}">Thành phố không hợp lệ</div>
                                <input type="hidden" th:field="*{defaultAddress.city}" id="cityName" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <select name="" id="district" class="form-select floatingdistrict" disabled
                                    onchange="updateDistrictName(this)">
                                    <option selected>Chọn Quận/huyện</option>
                                </select>
                                <label for="floatingdistrict">
                                    <span class="text-danger">*</span>
                                    Quận/huyện
                                </label>
                                <div th:if="${#fields.hasErrors('defaultAddress.district')}" class="text-danger"
                                    th:errors="*{defaultAddress.district}">
                                    Quận/huyện không hợp lệ</div>
                                <input type="hidden" th:field="*{defaultAddress.district}" id="districtName" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="form-floating">
                                <select name="" id="ward" class="form-select floatingward" disabled
                                    onchange="updateWardName(this)">
                                    <option selected>Chọn Xã/phường/thị trấn</option>
                                </select>
                                <label for="floatingward">
                                    <span class="text-danger">*</span>
                                    Xã/phường/thị trấn
                                </label>
                                <div th:if="${#fields.hasErrors('defaultAddress.ward')}" class="text-danger"
                                    th:errors="*{defaultAddress.ward}">
                                    Xã/phường/thị trấn không hợp lệ</div>
                                <input type="hidden" th:field="*{defaultAddress.ward}" id="wardName" />
                            </div>
                        </div>
                    </div>

                    <div class="py-3 text-center">
                        <button type="submit" class="btn-order-save custom-btn-main">LƯU</button>
                    </div>

                    <div class="py-3 text-center" th:if="${#lists.size(customer.addresses) > 0}">
                        <button type="button" class="btn-order-save custom-btn-main" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">THÊM ĐỊA CHỈ</button>
                    </div>
                </form>
            </div>

            <!-- Modal Thêm Địa chỉ -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div th:if="${#lists.size(customer.addresses) < 3}" class="text-center">
                                <h5 class="modal-title" id="exampleModalLabel">Nhập Địa chỉ mới</h5>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">

                            <form action="/yourstyle/carts/addAddress" method="POST" th:object="${customer}">
                                <input type="hidden" name="account.accountId"
                                    th:value="${customer.account.accountId}" />
                                <input type="hidden" th:value="${customer.customerId}" />
                                <div th:if="${#lists.size(customer.addresses) < 3}">
                                    <div class="mb-3">
                                        <label for="streetAddress" class="form-label">Địa chỉ cụ thể*</label>
                                        <input type="text" class="form-control" id="streetAddress" name="street"
                                            th:field="*{defaultAddress.street}" required>
                                    </div>

                                    <!-- City -->
                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <select class="form-select floatingcity" id="city" name="city" required>
                                                <option selected>Chọn Tỉnh/thành phố</option>
                                                <!-- Các tùy chọn thành phố -->
                                            </select>
                                            <label for="floatingCity">
                                                <span class="text-danger">*</span>
                                                Chọn Tỉnh/thành phố
                                            </label>
                                            <div th:if="${#fields.hasErrors('defaultAddress.city')}" class="text-danger"
                                                th:errors="*{defaultAddress.city}">Thành phố không hợp lệ</div>
                                            <input type="hidden" th:field="*{defaultAddress.city}" id="cityName" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <select name="district" id="district" class="form-select floatingdistrict"
                                                disabled onchange="updateDistrictName(this)" required>
                                                <option selected>Chọn Quận/huyện</option>
                                                <!-- Các tùy chọn quận -->
                                            </select>
                                            <label for="floatingdistrict">
                                                <span class="text-danger">*</span>
                                                Quận/huyện
                                            </label>
                                            <div th:if="${#fields.hasErrors('defaultAddress.district')}"
                                                class="text-danger" th:errors="*{defaultAddress.district}">Quận/huyện
                                                không hợp lệ</div>
                                            <input type="hidden" th:field="*{defaultAddress.district}"
                                                id="districtName" />
                                        </div>
                                    </div>

                                    <div class="col-md-12 mb-3">
                                        <div class="form-floating">
                                            <select name="ward" id="ward" class="form-select floatingward" disabled
                                                onchange="updateWardName(this)" required>
                                                <option selected>Chọn Xã/phường/thị trấn</option>
                                            </select>
                                            <label for="floatingward">
                                                <span class="text-danger">*</span>
                                                Xã/phường/thị trấn
                                            </label>
                                            <div th:if="${#fields.hasErrors('defaultAddress.ward')}" class="text-danger"
                                                th:errors="*{defaultAddress.ward}">Xã/phường/thị trấn không hợp lệ</div>
                                            <input type="hidden" th:field="*{defaultAddress.ward}" id="wardName" />
                                        </div>
                                    </div>

                                    <div class="form-check mb-3">
                                        <input type="checkbox" class="form-check-input" id="defaultAddress"
                                            name="isDefault" />
                                        <label class="form-check-label" for="defaultAddress">Đặt địa chỉ mặc
                                            định</label>
                                    </div>

                                    <div class="py-4 text-center">
                                        <button type="submit" class="btn-order-save custom-btn-main">LƯU</button>
                                    </div>
                                </div>

                                <!-- Hiển thị thông báo khi có 3 địa chỉ -->
                                <div th:if="${#lists.size(customer.addresses) >= 3}" class="text-center">
                                    <h3 class="text-danger">Đã đạt tối đa 3 địa chỉ. Vui lòng quản lý các địa chỉ đã
                                        lưu.</h3>
                                </div>
                            </form>

                            <!-- Hiển thị danh sách địa chỉ hiện tại -->
                            <h5 class="py-3">Chọn ngôi sao để đặt địa chỉ mặc định </h5>
                            <div class="table-responsive mt25">
                                <table class="table table-striped-columns">
                                    <tr>
                                        <th>Địa chỉ cụ thể</th>
                                        <th>Tỉnh/Thành phố</th>
                                        <th>Quận/Huyện</th>
                                        <th>Xã/Phường</th>
                                        <th>Mặc định</th>
                                        <th>Thao tác</th>
                                    </tr>
                                    <tr th:each="address, iterStat : ${customer.addresses}">
                                        <td th:text="${address.street}"></td>
                                        <td th:text="${address.city}"></td>
                                        <td th:text="${address.district}"></td>
                                        <td th:text="${address.ward}"></td>
                                        <td th:text="${address.isDefault ? 'Có' : 'Không'}">Có</td>
                                        <td class="text-center">
                                            <!-- Liên kết xóa địa chỉ -->
                                            <a style="cursor: pointer; font-size: 21px; color: red;"
                                                th:attr="onclick=|confirmDelete(${address.addressId}, ${customerId});|">
                                                <i class="bi bi-trash" title="Xóa"></i>
                                            </a>

                                            <!-- Đặt làm địa chỉ mặc định -->
                                            <a style="cursor: pointer; font-size: 21px; color: rgb(255, 196, 0);"
                                                th:if="${!address.isDefault}"
                                                th:href="@{/yourstyle/carts/setDefaultAddress/{addressId}(addressId=${address.addressId})}">
                                                <i class="bi bi-star-fill" title="Đặt làm địa chỉ mặc định"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border-start">
                <div class="order-summary bg-white">
                    <h3 class="mb-4">Tóm Tắt Đơn Hàng</h3>
                    <div class="row">
                        <div th:each="orderDetail : ${orderDetails}" class="col-auto d-flex">
                            <a href="">
                                <img th:src="@{/uploads/} + ${orderDetail.productVariant.product.image}" alt="Image"
                                    width="50" style="object-fit: cover; max-height: 150px;" class="img-fluid" />
                            </a>
                        </div>
                    </div>
                    <div class="pt-4 order-total row d-flex align-items-center justify-content-between">
                        <p>TỔNG TIỀN:
                            <span class="float-end"
                                th:text="${#numbers.formatDecimal(totalAmount, 1, 'COMMA', 3, 'POINT')+ ' VNĐ'}">
                            </span>
                        </p>
                    </div>
                    <div class="mb-3">
                        <label for="discountCode" class="form-label">Mã phiếu giảm giá</label>
                        <label for="discountCode" class="form-label float-end btn" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">Xem Mã Giảm</label>
                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="true" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Danh sách mã giảm giá</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div th:if="${#lists.isEmpty(vouchers)}">
                                                <h4 style="color: rgb(0, 0, 0); font-weight: bold; text-align: center;">
                                                    đơn hàng chưa đủ điều kiện.</h4>
                                            </div>

                                            <div class="col-md-12 pt-3" th:each="voucher : ${vouchers}"
                                                data-aos="fade-up">
                                                <div class="card">
                                                    <div class="p-2"
                                                        style="background-image: url(/site/images/logo/background.png); background-repeat: no-repeat; background-size: cover; min-height: 280px;">

                                                        <div class="product-info text-center pt-3">
                                                            <div class="clearfix" style="margin-right: 30px;">
                                                                <button onclick="copyVoucherCode(this)"
                                                                    th:attr="data-code=${voucher.voucherCode}"
                                                                    class="btn btn-warning float-end mb-3 fs-6">Copy
                                                                    Mã</button>
                                                            </div>
                                                            <h5
                                                                style="font-family: 'Dancing Script', cursive; color: rgb(9, 9, 9); font-size: 1.6rem; font-weight: 700;">
                                                                Vé Giảm Giá: <span
                                                                    th:text="${voucher.voucherName}"></span>
                                                                <br>
                                                                MÃ: <span id="voucherCode"
                                                                    th:text="${voucher.voucherCode}"></span>
                                                            </h5>
                                                            <br>
                                                            <h5
                                                                style="color: black; font-size: 1.2rem; font-weight: 700;">
                                                                Bắt đầu: <span th:text="${formattedStartDate}"></span>
                                                            </h5>
                                                            <h5
                                                                style="color: black; font-size: 1.2rem; font-weight: 700;">
                                                                Kết Thúc: <span th:text="${formattedEndDate}"></span>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <input type="text" class="form-control" id="discountCode">
                        <div class="d-flex justify-content-center align-items-center">
                            <button class="btn-order-save mt-2 custom-btn-main" onclick="applyDiscount()">Áp
                                dụng</button>
                        </div>
                    </div>
                    <div class="payment py-3">
                        <h5>THANH TOÁN KHI NHẬN HÀNG</h5>
                        <div class="payment-method-radio d-flex align-items-center justify-content-center">
                            <div class="payment-method-card">
                                <input hidden class="form-check-input me-2" type="radio" name="paymentMethod" id="cod"
                                    value="cod" checked>
                                <img class="mx-5" src="https://img.icons8.com/ios-filled/50/000000/cash-in-hand.png"
                                    alt="COD">
                            </div>
                            <button class="btn-cart-detail my-2 custom-btn-main" onclick="placeOrder()">ĐẶT HÀNG
                                NGAY</button>
                        </div>
                    </div>
                    <div class="payment">
                        <h5>THANH TOÁN NGAY</h5>
                        <div class="payment-method-radio">
                            <form th:action="@{/vnPayMain}" method="get">
                                <div class="payment-method-card">
                                    <button type="submit" class="btn">
                                        <img src="/site/images/logo/vnpay.png" alt="VNPay">
                                    </button>
                                </div>
                            </form>

                            <form id="paymentForm">
                                <div class="payment-method-card">
                                    <button type="submit" class="btn">
                                        <img src="/site/images/logo/zalo.png" alt="ZaloPay">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <script src="/site/js/addressAPI-site.js"></script>
            <script src="/site/js/addressCustomer-site.js"></script>
            <script src="/site/js/orderDetail.js"></script>
    </section>
</body>

</html>