<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{site/index.html}">

<head>
    <style>
        .price-discount {
            font-size: 1.5em;
            /* Tăng kích thước cho giá đã giảm */
            color: #dc3545;
            /* Màu đỏ */
        }

        .price-original {
            font-size: 1em;
            /* Kích thước nhỏ hơn cho giá gốc */
            color: #6c757d;
            /* Màu xám nhạt */
            text-decoration: line-through;
            /* Gạch ngang */
        }

        .price-similar-product,
        .price-product {
            font-size: 1.5em;
            color: #dc3545;
        }

        /* Rating stars */
        .rating {
            font-size: 24px;
            color: #ddd;
            cursor: pointer;
        }

        .star {
            transition: color 0.3s ease;
        }

        .star.filled {
            color: #ffcc00;
        }

        .stars {
            font-size: 18px;
        }

        .stars .star {
            color: #ddd;
        }

        .stars .star.filled {
            color: #ffcc00;
        }

        .hover-container {
            position: relative;
        }

        .hover-container .btn-danger {
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        .hover-container:hover .btn-danger {
            opacity: 1;
        }

        /* Đảm bảo ảnh trong phần review có kích thước đồng đều */
        .review-images {
            display: flex;
            flex-wrap: wrap;
            /* Cho phép ảnh gói gọn và hiển thị trên nhiều dòng nếu cần */
            gap: 10px;
            /* Khoảng cách giữa các ảnh */
        }

        .comment-image {
            max-width: 150px;
            /* Giới hạn chiều rộng ảnh để ảnh không bị quá lớn */
            max-height: 150px;
            /* Giới hạn chiều cao ảnh */
            object-fit: cover;
            /* Đảm bảo ảnh sẽ được cắt phù hợp với khung */
            border-radius: 5px;
            /* Tạo hiệu ứng bo góc cho ảnh */
            transition: transform 0.3s ease-in-out;
            /* Hiệu ứng khi hover ảnh */
        }

        .comment-image:hover {
            transform: scale(1.1);
            /* Phóng to ảnh khi hover */
        }
    </style>
</head>

<body>
    <section class="py-5 container" layout:fragment="main" ng-controller="comment-ctrl">
        <div class="row">
            <!-- Phần ảnh sản phẩm -->
            <div class="col-md-1 border-end border-top">
                <div class="product-thumbnails d-flex flex-column align-items-center mt-3">
                    <div th:each="image : ${productImages}" class="thumbnail-item mb-3">
                        <img th:src="@{/uploads/} + ${image.imageUrl}" class="img-thumbnail" alt="Product Thumbnail">
                    </div>
                </div>
            </div>

            <div class="col-md-7 border-bottom">
                <div id="carouselExampleControls" class="carousel slide product-slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="@{/uploads/} + ${product.image}" class="d-block w-100"
                                alt="Ảnh chính của sản phẩm">
                        </div>
                        <div th:each="image, iterStat : ${productImages}" class="carousel-item">
                            <img th:src="@{/uploads/} + ${image.imageUrl}" class="d-block w-100"
                                alt="Ảnh phụ của sản phẩm">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                <!--ĐÁNH GIÁ-->
                <div class="pt-5">
                    <hr>
                    <h3>Đánh giá sản phẩm</h3>
                    <div class="py-5">
                        <form ng-submit="submitComment()">
                            <div class="comment-box d-flex align-items-center">
                                <div class="form-outline" data-mdb-input-init>
                                    <input type="text" id="form12" name="comment" class="form-control"
                                        ng-model="newComment" required />
                                    <label class="form-label" for="form12">ĐÁNH GIÁ</label>
                                </div>
                                <button type="button" class="btn btn-outline-danger mx-2" data-mdb-ripple-init
                                    data-mdb-ripple-color="dark" ng-click="resetForm()">Hủy</button>
                                <button type="submit" class="btn btn-outline-info" data-mdb-ripple-init
                                    data-mdb-ripple-color="dark">Đăng</button>
                            </div>
                            <div class="rating mt-3">
                                <span class="star" ng-click="setRating(1)"
                                    ng-class="{'filled': rating >= 1}">&#9733;</span>
                                <span class="star" ng-click="setRating(2)"
                                    ng-class="{'filled': rating >= 2}">&#9733;</span>
                                <span class="star" ng-click="setRating(3)"
                                    ng-class="{'filled': rating >= 3}">&#9733;</span>
                                <span class="star" ng-click="setRating(4)"
                                    ng-class="{'filled': rating >= 4}">&#9733;</span>
                                <span class="star" ng-click="setRating(5)"
                                    ng-class="{'filled': rating >= 5}">&#9733;</span>
                            </div>
                            <div class="mt-3">
                                <label for="imagesInput" class="btn btn-outline-primary">
                                    <i class="fas fa-upload"></i> Thêm ảnh
                                </label>
                                <input type="file" id="imagesInput" name="images" class="d-none" multiple
                                    onchange="angular.element(this).scope().handleFileUpload(this.files)"
                                    ng-model="imageFiles">
                            </div>
                            <!-- Hiển thị ảnh đã chọn -->
                            <div class="mt-3" ng-if="images.length > 0">
                                <div class="d-flex flex-wrap">
                                    <div class="me-2 mb-2" ng-repeat="image in previewImages track by $index">
                                        <img ng-src="{{image}}" class="img-thumbnail"
                                            style="width: 100px; height: 100px;" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a data-mdb-tab-init class="nav-link active" id="ex1-tab-1" href="#ex1-tabs-1" role="tab"
                                aria-controls="ex1-tabs-1" aria-selected="true">TẤT cẢ ĐÁNH GIÁ</a>
                        </li>
                    </ul>
                    <div class="tab-content pt-4" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
                            aria-labelledby="ex1-tab-1" ng-repeat="review in reviews">
                            <hr>
                            <div class="hover-container" ng-mouseenter="review.hover = true"
                                ng-mouseleave="review.hover = false">
                                <div class="comment-header d-flex align-items-center">
                                    <img ng-src="/uploads/{{review.customer.avatar || 'default-avatar.png'}}" alt="Logo"
                                        class="comment-logo">
                                    <span class="comment-name">{{review.customer.fullname }}</span>
                                    <span class="comment-date ms-auto">{{ review.createAt | date:'dd/MM/yyyy' }}</span>
                                    <button class="btn btn-danger btn-sm ms-2"
                                        ng-show="review.hover && review.customer.customerId === customerNow.customerId"
                                        ng-click="deleteReview(review.reviewId)">
                                        Xóa
                                    </button>
                                </div>
                                <div class="comment-body">
                                    <h5>{{review.comment }}</h5>
                                    <div class="rating">
                                        <span class="star" ng-class="{'filled': review.rating >= 1}">&#9733;</span>
                                        <span class="star" ng-class="{'filled': review.rating >= 2}">&#9733;</span>
                                        <span class="star" ng-class="{'filled': review.rating >= 3}">&#9733;</span>
                                        <span class="star" ng-class="{'filled': review.rating >= 4}">&#9733;</span>
                                        <span class="star" ng-class="{'filled': review.rating >= 5}">&#9733;</span>
                                    </div>
                                    <!-- Hiển thị danh sách ảnh -->
                                    <div ng-if="review.images.length > 0" class="review-images">
                                        <img ng-repeat="image in review.images" ng-src="/uploads/reviewImages/{{image}}"
                                            class="comment-image" alt="Review Image">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center py-3">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <!-- Previous page button -->
                                    <li class="page-item" ng-class="{'disabled': currentPage === 0}">
                                        <a class="page-link" ng-click="loadReviews(currentPage - 1)"
                                            aria-label="Previous">
                                            <span aria-hidden="true">Trước</span>
                                        </a>
                                    </li>

                                    <!-- Page number buttons -->
                                    <li class="page-item" ng-repeat="i in pageNumbers">
                                        <a class="page-link" ng-click="loadReviews(i)">{{ i + 1 }}</a>
                                    </li>

                                    <!-- Next page button -->
                                    <li class="page-item" ng-class="{'disabled': currentPage === totalPages - 1}">
                                        <a class="page-link" ng-click="loadReviews(currentPage + 1)" aria-label="Next">
                                            <span aria-hidden="true">Sau</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thông tin sản phẩm -->
            <div class="col-md-4 border-start border-top py-4">
                <h4 class="product-title">[[${product.name}]]</h4>
                <div class="rating">
                    <span class="text-danger">
                        <i class="fa fa-star" th:if="${averageRating >= 1}"></i>
                        <i class="fa fa-star" th:if="${averageRating >= 2}"></i>
                        <i class="fa fa-star" th:if="${averageRating >= 3}"></i>
                        <i class="fa fa-star" th:if="${averageRating >= 4}"></i>
                        <i class="fa fa-star" th:if="${averageRating >= 5}"></i>
                    </span>
                </div>
                <div class="price-section">
                    <!-- Kiểm tra nếu có discount thì hiển thị giá giảm và giá gốc -->
                    <span class="price-discount text-danger fw-bold" th:if="${product.discount != null}"
                        th:text="${#numbers.formatDecimal(product.price - product.price * product.discount.discountPercent / 100, 1, 'COMMA', 3, 'POINT') + ' Đ'}">
                    </span>
                    <span class="price-original ms-2 text-muted" th:if="${product.discount != null}">
                        <del th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT') + ' Đ'}"></del>
                    </span>
                    <span class="badge bg-danger ms-2" th:if="${product.discount != null}"
                        th:text="'-' + ${#numbers.formatDecimal(product.discount.discountPercent, 0, 0)} + '%'">
                    </span>

                    <!-- Hiển thị giá gốc nếu không có discount -->
                    <span class="price-product fw-bold" th:if="${product.discount == null}"
                        th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT') + ' Đ'}">
                    </span>
                </div>

                <hr>
                <form id="addToCartForm" th:action="@{/yourstyle/carts/addtocart}" method="post"
                    onsubmit="return addToCart(event)">
                    <div class="mt-3">
                        <h5>Màu sắc: </h5>
                        <div class="product-color">
                            <th:block th:each="color : ${uniqueColors}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input color-option" type="radio" name="colorOptions"
                                        th:id="'color-' + ${color.colorId}" th:data-color="${color.colorId}"
                                        th:data-color-name="${color.colorName}"
                                        th:checked="${color.colorId == selectedColorId}">
                                    <label class="form-check-label" th:for="'color-' + ${color.colorId}"
                                        th:text="${color.colorName}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="mt-3">
                        <h5>Kích thước: </h5>
                        <div class="product-size">
                            <th:block th:each="size : ${uniqueSizes}">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input size-option" type="radio" name="sizeOptions"
                                        th:id="'size-' + ${size.sizeId}" th:data-size="${size.sizeId}"
                                        th:data-size-name="${size.sizeName}"
                                        th:checked="${size.sizeId == selectedSizeId}">
                                    <label class="form-check-label" th:for="'size-' + ${size.sizeId}"
                                        th:text="${size.sizeName}"></label>
                                </div>
                            </th:block>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="form-floating">
                            <input type="number" id="quantityInput" name="quantity" min="1" max="5" class="form-control"
                                placeholder="Số Lượng" required>
                            <label for="quantityInput">Số Lượng</label>
                        </div>
                    </div>

                    <ul style="display: none;">
                        <th:block th:each="variant : ${productVariants}">
                            <li class="variant-option" th:data-variant-id="${variant.productVariantId}"
                                th:data-color-id="${variant.color.colorId}" th:data-size-id="${variant.size.sizeId}">
                                Variant ID: <span th:text="${variant.productVariantId}"></span>
                            </li>
                        </th:block>
                    </ul>

                    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                        <span th:text="${errorMessage}"></span>
                    </div>

                    <div class="mt-4 p-3 d-flex justify-content-between align-items-center text-center border">

                        <!-- Trường ẩn để giữ productVariantId đã chọn -->
                        <input type="hidden" id="selectedVariantId" name="productVariantId" value="">
                        <input type="hidden" id="selectedColorId" name="colorId" value="">
                        <input type="hidden" id="selectedSizeId" name="sizeId" value="">
                        <button class="custom-btn-main" style="width: 90%;" type="submit">THÊM VÀO GIỎ HÀNG</button>

                        <a href="/productfavorites">
                            <i class="fa-regular fa-heart fs-3 fs-dark"></i>
                        </a>
                    </div>
                </form>

                <div class="py-4 text-center">
                    <p>96% Khách hàng cho rằng nó đúng với kích thước</p>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Hưỡng dẫ xem kích thước
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Xem kích thước</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <img src="/site/images/size/size-table.png" alt="" class="img-fluid">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Thoát</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="pt-3">
                    <h4>Mô Tả sản phẩm</h4><br>
                    <p>THÔNG TIN SẢN PHẨM: <span th:text="${product.description}"></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row pt-5">
            <h2 class="text-center">SẢN PHẨM TƯƠNG TỰ</h2>
            <div th:each="p : ${similarProducts}" class="col-md-3 pt-5" data-aos="fade-up">
                <div class="card product-card">
                    <a th:href="@{/allproduct}">
                        <img th:src="@{/uploads/} + ${p.image}" class="img-fluid">
                    </a>
                    <div class="p-2">
                        <h5 class="product-name" th:text="${p.name}"></h5>
                        <div class="price-container d-flex align-items-center">
                            <!-- Nếu có giảm giá, hiển thị giá đã giảm và giá gốc -->
                            <div th:if="${p.discount != null}" class="d-flex align-items-center">
                                <p class="price-discount text-danger fw-bold mb-0 me-2"
                                    th:text="${#numbers.formatDecimal(p.price - p.price * p.discount.discountPercent / 100, 0, 0)} + 'đ'">
                                </p>
                                <p class="price-original text-muted mb-0">
                                    <del
                                        th:text="${#numbers.formatDecimal(p.price, 1, 'COMMA', 3, 'POINT') + ' Đ'}"></del>
                                </p>
                                <span class="discount-badge badge bg-danger ms-2">
                                    -[[${#numbers.formatDecimal(p.discount.discountPercent, 0, 0)}]]%
                                </span>
                            </div>
                            <!-- Nếu không có giảm giá, chỉ hiển thị giá gốc -->
                            <div th:if="${p.discount == null}">
                                <p class="price-similar-product text-danger fw-bold mb-0"
                                    th:text="${#numbers.formatDecimal(p.price, 1, 'COMMA', 3, 'POINT') + ' Đ'}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="/site/js/cartDetail.js"></script>
    </section>

</body>

</html>