<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}">

<head> </head>

<body>
    <section layout:fragment="main">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Phiếu giảm giá</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Phiếu giảm giá</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <div class=" mt-3">
                            <h4>Bảng phiếu</h4>
                            <!-- Tìm kiếm -->
                            <div class="row mb-3">
                                <!-- Ô tìm kiếm -->
                                <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                                    <div class="position-relative w-100">
                                        <form th:action="@{/admin/vouchers/search}" method="get"
                                            class="position-relative">
                                            <span class="position-absolute start-0 top-50 translate-middle-y ps-2">
                                                <i class="bi bi-search"></i>
                                            </span>
                                            <input class="form-control ps-5" name="value"
                                                placeholder="Tìm phiêu giảm giá theo..." required>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                                    <!-- Xuất Excel -->
                                    <a th:href="@{/admin/vouchers/export/excel}" class="btn btn-outline-secondary">Xuất
                                        Excel</a>
                                    <a th:href="@{/admin/vouchers/add}" class="btn btn-outline-primary ms-4">+ Tạo
                                        mới</a>
                                </div>
                            </div>
                            <!-- Bộ lọc -->
                            <hr>
                            <form th:action="@{/admin/vouchers/search}" method="get">
                                <div class="row mb-3">
                                    <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
                                        <select class="form-select" name="isPublic">
                                            <option value="" selected>Chọn trạng thái</option>
                                            <option value="true">Công khai</option>
                                            <option value="false">Cá nhân</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-12 mb-3 mb-lg-0">
                                        <select class="form-select" name="type">
                                            <option value="" selected>Chọn loại</option>
                                            <option value="1">Giảm giá trực tiếp</option>
                                            <option value="2">Giảm giá phần trăm</option>
                                            <option value="3">Giảm giá vận chuyển</option>
                                            <option value="4">Voucher</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-3">
                                        <div class="form-floating">
                                            <input type="datetime-local" class="form-control" id="datetimepickerFrom"
                                                name="fromDate" placeholder="Từ ngày">
                                            <label for="datetimepickerFrom">Từ ngày</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6 mb-3">
                                        <div class="form-floating">
                                            <input type="datetime-local" class="form-control" id="datetimepickerTo"
                                                name="toDate" placeholder="Đến ngày">
                                            <label for="datetimepickerTo">Đến ngày</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-6">
                                        <button type="submit" class="btn btn-outline-primary">Lọc</button>
                                    </div>
                                </div>

                            </form>


                            <!-- Bảng phiếu giảm giá -->
                            <div class="table-responsive text-center">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Mã</th>
                                            <th>Tên</th>
                                            <th>Giảm giá</th>
                                            <th>Loại</th>
                                            <th>Giá trị nhỏ nhất</th>
                                            <th>Giá trị lớn nhất</th>
                                            <th>Số lượng</th>
                                            <th>Lần sử dụng</th>
                                            <th>Ngày tạo</th>
                                            <th>Trạng thái</th>
                                            <th>Ngày bắt đầu</th>
                                            <th>Ngày kết thúc</th>
                                            <th>ID khách</th>
                                            <th>ID người tạo</th>
                                            <th>Mô tả</th>
                                            <th>Hành động</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="voucher, iStat : ${vouchers}">
                                            <td>[[${voucher.voucherCode}]]</td>
                                            <td>[[${voucher.voucherName}]]</td>
                                            <td>[[${voucher.discountAmount}]]</td>
                                            <td>
                                                <span th:switch="${voucher.type}">
                                                    <span th:case="1" class="badge bg-success">Giảm giá trực tiếp</span>
                                                    <span th:case="2" class="badge bg-info">Giảm giá phần trăm</span>
                                                    <span th:case="3" class="badge bg-warning">Giảm giá vận
                                                        chuyển</span>
                                                    <span th:case="4" class="badge bg-primary">Voucher</span>
                                                </span>
                                            </td>
                                            <td>[[${voucher.minTotalAmount}]]</td>
                                            <td>[[${voucher.maxTotalAmount}]]</td>
                                            <td>[[${voucher.maxUses}]]</td>
                                            <td>[[${voucher.maxUsesUser}]]</td>
                                            <td>[[${voucher.createAt}]]</td>
                                            <td><span class="badge bg-info text-dark">[[${voucher.isPublic ? 'Công
                                                    khai':'Cá Nhân'}]]</span>
                                            </td>
                                            <td>[[${voucher.startDate}]]</td>
                                            <td>[[${voucher.endDate}]]</td>
                                            <td>
                                                <div th:if="${voucher.voucherCustomers}">
                                                    <div th:each="voucherCustomer : ${voucher.voucherCustomers}">
                                                        <p th:text="${voucherCustomer.customer.customerId}"></p>
                                                    </div>
                                                </div>
                                                <div th:unless="${voucher.voucherCustomers}">
                                                    <p>Không có khách hàng</p>
                                                </div>
                                            </td>
                                            <td>[[${voucher.account.accountId}]]</td>
                                            <td>[[${voucher.description}]]</td>
                                            <td>
                                                <!-- Chỉnh sửa Voucher -->
                                                <a style="cursor: pointer; font-size: 21px;"
                                                    th:href="@{/admin/vouchers/edit/{voucherId}(voucherId=${voucher.voucherId})}">
                                                    <i class="bi bi-pencil-square" title="Chỉnh sửa"></i>
                                                </a>

                                                <!-- Xóa Voucher -->
                                                <a style="cursor: pointer; font-size: 21px; color: red;"
                                                    th:href="@{/admin/vouchers/delete/{voucherId}(voucherId=${voucher.voucherId})}"
                                                    onclick="return confirm('Bạn có chắc chắn muốn xóa voucher này không?');">
                                                    <i class="bi bi-trash" title="Xóa"></i>
                                                </a>

                                                <!-- Thêm khách hàng (chỉ hiển thị nếu không công khai) -->
                                                <span th:if="${!voucher.isPublic}">
                                                    <a style="cursor: pointer; font-size: 21px; color: green;"
                                                        th:href="@{/admin/vouchers/addCustomer/{voucherId}(voucherId=${voucher.voucherId})}">
                                                        <i class="bi bi-person-plus" title="Thêm khách hàng"></i>
                                                    </a>
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="text-muted d-flex justify-content-between">
                                <form action="">
                                    <div class="form-inline">
                                        <label for="size">Hiển thị:</label>
                                        <select class="px-lg-2 py-lg-1" name="size" id="size"
                                            onchange="this.form.submit()">
                                            <option th:selected="${vouchers.size == 5}" value="5">
                                                5
                                            </option>
                                            <option th:selected="${vouchers.size == 10}" value="10">
                                                10
                                            </option>
                                            <option th:selected="${vouchers.size == 20}" value="20">
                                                20
                                            </option>
                                            <option th:selected="${vouchers.size == 30}" value="30">
                                                30
                                            </option>
                                        </select>
                                    </div>
                                </form>
                                <nav aria-label="Page navigation">
                                    <ul class="pagination" th:if="${vouchers.totalPages > 0}">
                                        <!-- Trang đầu tiên -->
                                        <li class="page-item"
                                            th:classappend="${vouchers.number == 0} ? 'disabled' : ''">
                                            <a class="page-link"
                                                th:href="@{/admin/vouchers/search(value=${searchValue}, isPublic=${isPublic}, type=${type}, fromDate=${fromDate}, toDate=${toDate}, size=${vouchers.size}, page=${0})}">
                                                <i class="bi bi-chevron-double-left"></i>
                                            </a>
                                        </li>

                                        <!-- Các trang giữa -->
                                        <li th:each="pageNumber : ${pageNumbers}"
                                            th:classappend="${pageNumber == vouchers.number + 1} ? 'active' : ''"
                                            class="page-item">
                                            <a th:href="@{/admin/vouchers/search(value=${searchValue}, isPublic=${isPublic}, type=${type}, fromDate=${fromDate}, toDate=${toDate}, size=${vouchers.size}, page=${pageNumber - 1})}"
                                                class="page-link" th:text="${pageNumber}"></a>
                                        </li>

                                        <!-- Trang cuối cùng -->
                                        <li th:classappend="${vouchers.number + 1 == vouchers.totalPages} ? 'disabled' : ''"
                                            class="page-item">
                                            <a class="page-link"
                                                th:href="@{/admin/vouchers/search(value=${searchValue}, isPublic=${isPublic}, type=${type}, fromDate=${fromDate}, toDate=${toDate}, size=${vouchers.size}, page=${vouchers.totalPages - 1})}">
                                                <i class="bi bi-chevron-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End #main -->
    </section>
</body>

</html>