<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/index.html}">

<head>
<title>Quên Mật Khẩu</title>
</head>

<body>
	<section class="py-5 container" layout:fragment="main">
		<section class="forgot-password-section">
			<div class="forgot-password-container row mx-auto">
				<!-- Form quên mật khẩu (bên trái) -->
				<div class="forgot-password-form col-md-6">
					<h1>Quên Mật Khẩu</h1>

					<!-- Thông báo lỗi nếu có -->
					<div th:if="${error != null}" class="alert alert-danger">
						<p th:text="${error}"></p>
					</div>

					<!-- Thông báo thành công nếu có -->
					<div th:if="${message != null}" class="alert alert-success">
						<p th:text="${message}"></p>
					</div>

					<!-- Form quên mật khẩu -->
					<form th:action="@{/yourstyle/accounts/processforgotpassword}"
						method="post">
						<!-- Đổi tên đường dẫn -->
						<div class="input-container input-icon">
							<input type="email" name="email" class="form-control mb-3"
								placeholder="Nhập email của bạn" required> <i
								class="bi bi-envelope-fill"></i>
						</div>
						<button type="submit" class="btn btn-custom w-100">Gửi
							Liên Kết Đặt Lại Mật Khẩu</button>
					</form>
				</div>

				<!-- Phần thông tin bổ sung (bên phải) -->
				<div class="info-panel col-md-6">
					<h2>Bạn nhớ mật khẩu?</h2>
					<p>Quay lại trang đăng nhập và truy cập vào tài khoản của bạn.</p>
					<a th:href="@{/yourstyle/accounts/login}">
						<button class="btn btn-light w-100">Đăng Nhập</button>
					</a>
				</div>
			</div>
		</section>
	</section>

	<!-- Gọi Footer -->
	<div th:replace="fragments/footer.html"></div>
</body>

</html>
