<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/index.html}">

<head>

</head>

<body>
	<section class="py-5 container" layout:fragment="main">
		<video id="video3" autoplay muted loop playsinline src="/site/video/background-2.mp4"> </video>
		<div class="video-controls" data-video="video1">
			<i id="playPauseIcon1" class="fas fa-pause"></i>
			<i id="muteUnmuteIcon1" class="fas fa-volume-mute"></i>
		</div>
		<section class="row info-customer">
			<div class="col-md-5"></div>
			<div class="col-md-7 personal-info-section">
				<form class="info-customer-form" th:action="@{/yourstyle/accounts/profile}" th:object="${customer}"
					method="post" enctype="multipart/form-data">
					<input type="hidden" name="type" value="${type}">
					<div class="row mb-2">
						<div class="col-md-6">
							<div class="form-group">
								<input type="hidden" th:field="*{avatar}" />
								<label for="avatarInput" class="form-label ms-4" style="cursor: pointer">Ảnh đại
									diện</label>
								<input type="file" th:field="*{imageFile}" id="avatarInput" class="form-control d-none"
									onchange="loadFile(event)" />
								<div class="avatar_wrapper d-flex align-items-center justify-content-center">
									<img id="avatarImage"
										th:src="${currentUser.avatar != null ? '/uploads/' + currentUser.avatar : '/site/images/logo/user-icon.png'}"
										class="rounded-circle border border-dark border-1 img-fluid"
										style="width: 200px; max-height: 200px; cursor: pointer;" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<label for="" class="form-label"><i class="fa-solid fa-envelope"></i></label>
							<span th:text="${customer.account.email}"></span><br>
							<label for="" class="form-label"><i class="fa-solid fa-location-dot"></i></label>
							<span th:text="${defaultAddress.street != null ? defaultAddress.street : 'Chưa có địa chỉ'}"></span>
							<fieldset class="row mb-3 mt-3">
								<legend class="col-12 col-md-12 col-form-label pt-0"
									style="color: black; font-size: 1.2rem;">
									<span class="text-danger">*</span> Giới tính
								</legend>
								<div class="col-12 col-md-12 d-flex align-items-center">
									<div class="form-check me-3">
										<input required th:field="*{gender}" class="form-check-input" type="radio"
											id="radionam" value="1" />
										<label class="form-check-label" for="radionam">Nam</label>
									</div>
									<div class="form-check cursor-pointer">
										<input required th:field="*{gender}" class="form-check-input" type="radio"
											id="radionu" value="0" />
										<label class="form-check-label" for="radionu">Nữ</label>
									</div>
								</div>
							</fieldset>

						</div>
					</div>
					<div class="row py-3">
						<div class="col-md-12">
							<input type="hidden" th:field="*{customerId}" />
							<input type="hidden" th:field="*{account.accountId}" />
							<div class="form-outline py-2" data-mdb-input-init>
								<input required th:field="*{fullname}" type="text" id="form12" class="form-control" />
								<label class="form-label" for="form12" style="color: black;"><span
										class="text-danger">*</span> Họ và
									tên</label>
								<div th:if="${#fields.hasErrors('fullname')}" class="text-danger">
									<p th:errors="*{fullname}"></p>
								</div>
							</div>
							<div class="form-outline my-5 py-2" data-mdb-input-init>
								<input required th:field="*{phoneNumber}" type="text" id="form12"
									class="form-control" />
								<label class="form-label" for="form12" style="color: black;">
									<span class="text-danger">*</span> Số điện thoại
								</label>
							</div>
							<div class="form-outline my-5 py-2" data-mdb-input-init>
								<input th:field="*{birthday}" type="date" id="form12" class="form-control" />
								<label class="form-label" for="form12" style="color: black;"><span
										class="text-danger">*</span> Ngày
									sinh</label>
							</div>
						</div>
					</div>
					<div class="text-center mt-3">
						<button class="custom-btn-main">
							Cập nhật thông tin
						</button>
					</div>
				</form>
			</div>
		</section>
		<script src="/site/js/customer-info.js"></script>
	</section>
</body>

</html>