.forgot-password-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
}

.forgot-password-form {
    flex: 1;
    padding: 40px;
    text-align: center;
}

.info-panel {
    background-color: #285944;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex: 1;
    border-top-left-radius: 110px;
    border-bottom-left-radius: 110px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn-custom {
    background-color: #285944;
    color: white;
    border-radius: 12px;
}

.form-control-th {
    background-color: rgba(175, 175, 175, 0.24);
    border-radius: 12px;
}

.btn-light {
    border: 1px solid #ffffff !important;
    background-color: transparent !important;
    color: white !important;
    border-radius: 20px;
    padding: 10px 30px;
}

.btn-light:hover {
    background-color: #fff !important;
    /* color: #285944 !important; */
}

.input-container {
    position: relative;
    margin-top: 20px;
}

.input-container input {
    padding-left: 40px;
    /* Tạo khoảng trống cho icon */
}

.input-container .bi {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2rem;
    color: #285944;
}

.info-panel h2 {
    margin-bottom: 20px;
}

.info-panel p {
    text-align: center;
}

@media (max-width: 768px) {
    .forgot-password-container {
        flex-direction: column;
    }

    .forgot-password-form,
    .info-panel {
        width: 100%;
        padding: 20px;
    }
}
.alert-danger-register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
    text-align: center;
    border-radius: 5px;
    margin: 10px auto;
    padding: 15px;
    font-size: 14px;
}

.alert-danger-register p {
    margin: 0;
}