.navbar {
    background-color: rgb(232, 235, 240);
}

.navbar-brand {
    cursor: pointer;
}

.nav-item {
    cursor: pointer;
    font-weight: 500;
}

.nav-item>a:hover {
    color: rgb(22, 183, 185);
}

.nav-link {
    color: black;
    text-transform: uppercase;
    position: relative;
}

.dropdown-menu {
    border-bottom: solid 5px rgb(22, 183, 185);
}

.dropdown-item:hover {
    color: rgb(22, 183, 185);
}

@keyframes beforeAnimation {
    0% {
        width: 0%;
        transform: translateX(-20%);
    }

    100% {
        width: 95%;
        transform: translateX(0%);
    }
}

.nav-link::before {
    content: "";
    background-color: rgb(22, 183, 185);
    width: 95%;
    height: 4px;
    position: absolute;
    top: 0px;
    left: 2px;
    display: none;
    animation: beforeAnimation .8s;
}

.nav-link:hover::before {
    color: rgb(22, 183, 185);
    display: unset;
}

.nav-link:hover {
    color: rgb(0, 119, 132);
}

.logo-bis {
    font-weight: 700;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
}

.logo-lite {
    font-weight: 700;
    font-size: 40px;
    color: rgb(244, 198, 72);
    font-family: 'Dancing Script', cursive;
}

/* main */

.product-card img {
    transition: transform 0.4s ease;
}

.product-card:hover img {
    transform: translateY(-10px);
}


/* product detail */
.product-thumbnails {
    display: flex;
    flex-direction: column;
}

.thumbnail-item img {
    width: 100px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.thumbnail-item {
    cursor: pointer;
    margin-bottom: 15px;
}

.carousel-inner img {
    max-width: 100%;
}

/* Product Thumbnails */
@media (max-width: 768px) {
    .product-thumbnails {
        flex-direction: row;
        justify-content: center;
    }

    .thumbnail-item {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .thumbnail-item img {
        width: 80px;
    }
}

@media (max-width: 576px) {
    .product-thumbnails {
        flex-direction: row;
        justify-content: center;
    }

    .thumbnail-item {
        margin-right: 5px;
        margin-bottom: 0;
    }

    .thumbnail-item img {
        width: 60px;
    }
}

.carousel-inner img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.product-slide {
    max-width: 79%;
    margin: 0 auto;
}

.add-to-cart-btn {
    width: 300px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
}

.add-to-cart-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

/* comment */

.comment {
    margin-bottom: 20px;
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.comment-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.comment-name {
    font-weight: bold;
    margin-right: 10px;
}

.comment-date {
    color: gray;
    font-size: 0.9em;
    margin-left: auto;
}

.comment-body {
    padding-left: 50px;
}

.comment-image {
    width: 80px;
    height: 120px;
}

/* =========cart detail======= */

.btn-cart-detail {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
}

.btn-cart-detail:hover {
    background-color: #ffffff;
    color: #000000;
}

/* order detail */

.order-summary {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

.order-total {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.place-order-btn {
    background-color: #ccc;
    border: none;
    color: white;
    font-size: 1.2rem;
    width: 100%;
    padding: 15px 0;
}

.btn-order-save {
    width: 40%;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
}

.btn-order-save:hover {
    background-color: #ffffff;
    color: #000000;
}


/* payment */
.payment-method-card {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-method-card img {
    width: 30px;
    margin-right: 10px;
}

.payment-method-radio {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* order */
.order-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.status-item {
    text-align: center;
    position: relative;
    flex: 1;
}

.status-item .icon {
    font-size: 30px;
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border: 3px solid;
}

.status-item.completed .icon {
    background-color: rgb(34, 248, 34);
    color: white;
}

.status-item.in-progress .icon {
    background-color: orange;
    color: white;
}

.status-item:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -50%;
    width: 100%;
    height: 6px;
    background-color: #ccc;
    z-index: -1;
}

.status-item.completed:not(:last-child)::after {
    background-color: green;
}

.status-item.in-progress:not(:last-child)::after {
    background-color: orange;
}

.status-item .time {
    margin-top: 10px;
    font-size: 12px;
    color: #888;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid orange;
    margin: 0 auto;
}


/* ========footer======== */
.footer {
    background-color: rgb(250, 250, 250);
}


.footer-info {
    color: rgb(0, 0, 0);
}

.footer-info .menu {
    height: auto;
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding-left: 5px;
    transition: border 0.9s ease;
}

.footer-info .footer-info-me {
    display: inline;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.footer-logo>span>a>img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.line-copyRight {
    color: rgb(0, 0, 0);
}

.footer-copyRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-flow {
    /* background: linear-gradient(0, rgb(0, 0, 0), rgb(33, 33, 33)); */
    /* background-color: black; */
    color: rgb(255, 255, 255);
}

.footer-flow h3 {
    margin-top: 1.8rem;
    color: rgb(0, 0, 0);
}

.btn-follow {
    height: 46px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: 600;
    transition: 1s;
}

.btn-follow:hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.footer-flow input {
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 29px;
    font-weight: 600;
}

.new::placeholder {
    color: white;
}

.footer-info-logo {
    background-color: rgb(255, 255, 255);
}

.footer-info p {
    font-weight: 600;
    margin-top: 0.6rem;
    color: rgb(0, 0, 0);
}

.footer-info a {
    margin-top: 0.4rem;
    color: rgb(0, 0, 0);
}

.footer-info .menu {
    transition: border 0.4s ease;
    border-left: 1px solid rgb(255, 181, 33);
}

.footer-info .menu:hover {
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 170, 0);
}

.text-pink {
    color: pink;
    /* Hoặc bất kỳ mã màu nào bạn muốn */
}

.alert {
    position: relative;
    top: 16px;
    right: 16px;
}

/* ------slide-------*/
.carousel-controls {
    position: absolute;
    top: -55px;
    right: 25%;
    gap: 5px;
}

.carousel-controls a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 180, 0);
    background-color: transparent;
    border: 1px solid transparent;
    transition: background-color 0.3s;
}

.carousel-controls a i {
    font-size: 16px;

}

.bg-image img {
    transition: transform 0.3s ease;
}

.bg-image:hover img {
    transform: scale(1.1);
}

/* cart */
.product-item {
    margin-bottom: 15px;
    padding: 10px;
}

.product-info {
    text-align: left;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .product-item {
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) {
    .product-item {
        margin-bottom: 20px;
    }
}

.icon-cartDetail-button {
    padding: 0px;
    margin: 0px;
    border: none;
    background: none;
}

.product-name {
    padding-top: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 0.8rem;
}

.discount-price {
    color: red;
    font-weight: bold;
}

/* ========== .custom-btn-main ========= */
.custom-btn-main {
    position: relative;
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0;
    overflow: hidden;
    transition: all 0.7s ease;
    z-index: 1;
    border: #000000 solid 2px;

}

.custom-btn-main::before,
.custom-btn-main::after {
    content: '';
    position: absolute;
    background-color: white;
    transition: all 1.5s ease;
}

.custom-btn-main::before {
    width: 2px;
    height: 100%;
    right: 10px;
    top: 0;
    transform: rotate(45deg);
}


.custom-btn-main::after {
    width: 215%;
    height: 2px;
    right: 0;
    bottom: 0;
    transform: rotate(-45deg);
}

.custom-btn-main:hover {
    background-color: white;
    color: black;
}

.custom-btn-main:hover::before {
    height: 0;
}

.custom-btn-main:hover::after {
    width: 0;
}


/* lịch sử đơn hàng */
/* .sidebar {
    width: 250px;
    padding-top: 20px;
}

.sidebar a {
    font-weight: 500;
    margin-bottom: 10px;
    display: block;
    color: #333;
} */

.order-tab {
    font-weight: bold;
    color: #ff5722;
    border-bottom: 2px solid #ff5722;
}

.order-card {
    border: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 15px;
}

.order-card img {
    width: 100px;
    height: auto;
}

.btn-orange {
    background-color: #ff5722;
    color: #fff;
}


.timeline {
    border-left: 3px solid #ddd;
    padding-left: 20px;
}

.timeline-item {
    position: relative;
    margin-bottom: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -23px;
    top: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

.timeline-item.active::before {
    background-color: #28a745;
}

.order-status {
    color: #28a745;
    font-weight: bold;
}

.personal-info-section {
    min-height: 102vh;
    background-color: hsla(0, 0%, 75%, 0.6);
    /* background-color: #28a745; */
    z-index: 1;
    margin-top: -50px !important;
    color: #000000;

}
.personal-info-section label,legend{
    color: #000000;
    font-weight: 700;
    font-size: 1.3rem;
}

.info-customer-form{
    background-color: hsla(0, 0%, 100%, 0.7);
    margin: 30px 10px 10px 10px;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
}

video {
    object-fit: cover;
    width: 100%;
    height: 102vh;
    position: absolute;
    top: 175px;
    left: 0;
}
.video-controls {
    position: absolute;
    top: 200px;
    left: 20px;
    z-index: 2;
    display: flex;
    gap: 10px;
}

.video-controls i {
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s;
}

.video-controls i:hover {
    color: #ddd;
}


/* img,span,p {
img,span,p,input,label,h1,h2,h3,h4,h5,p,ul,li,i,a,tr,td {
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */