    /* CSS của dropdown lịch sử và gợi ý */
    #searchHistoryDropdown li,
    #suggestedProductsDropdown li {
        padding: 8px 16px;
        color: black;
    }

    #searchHistoryDropdown li:hover,
    #suggestedProductsDropdown li:hover {
        background-color: #F4F4F4;
    }

    #searchHistoryDropdown li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #searchHistoryDropdown li span {
        margin-left: 10px;
        color: red;
    }

    .historymenu{
        display: none; position: absolute; width: 90%;
    }

    #suggestedProductsDropdown{
        display: none; position: absolute;
    }

    .nav-flow {
        overflow-x: scroll; 
        scroll-behavior: smooth; 
        /* Ẩn thanh cuộn trong IE và Edge */
        -ms-overflow-style: none; 
         /* Ẩn thanh cuộn trong Firefox */
        scrollbar-width: none;
    }
    
    .nav-flow::-webkit-scrollbar {
        /* Ẩn thanh cuộn trong Chrome, Safari và Edge */
        display: none; 
    }
    