.product-card {
    height: 100%;
    /* Đặt chiều cao cho thẻ sản phẩm */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.p-2 h5 {
    margin-top: 10px;
    /* Thêm khoảng cách giữa ảnh và tên */
}

.d-flex {
    margin-top: auto;
    /* Đẩy giá và biểu tượng xuống dưới */
}