.product-card {
    height: 95%;
    /* Đặt chiều cao cho thẻ sản phẩm */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image {
    width: 100%;
    height: 250px;
    /* Chiều cao cố định cho ảnh */
    object-fit: cover;
    border-radius: 8px;
}

.p-2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.p-2 h5 {
    margin-top: 10px;
    /* Thêm khoảng cách giữa ảnh và tên */
}

.d-flex {
    margin-top: auto;
    /* Đẩy giá và biểu tượng xuống dưới */
}

.search{
    color: gray;
}