<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <!-- ======= nav ======= -->
    <section th:fragment="nav">
        <section>
            <nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
                <div class="container-fluid">
                    <button data-mdb-collapse-init class="navbar-toggler" type="button"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa-solid fa-bars-staggered"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <a class="navbar-brand mt-2 mt-lg-0" href="/yourstyle/home">
                            <span class="logo-bis">Your</span><span class="logo-lite">Style</span>
                        </a>
                        <div class="mx-auto" style="width: 40%;">
                            <form th:action="@{/search}" method="get" class="input-group rounded">
                                <input type="search" name="name" class="form-control rounded" placeholder="TÌM KIẾM"
                                    aria-label="Search" aria-describedby="search-addon" onfocus="showDropdown()"
                                    oninput="fetchProductSuggestions(this.value)" autocomplete="off" />
                    
                                <button class="input-group-text border-0" type="submit" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </button>
                    
                                <ul id="searchHistoryDropdown" class="dropdown-menu historymenu" onmousedown="event.preventDefault()">
                                    <li th:each="history : ${searchHistories}" th:id="'history-item-' + ${history.searchId}">
                                        <i class="bi bi-clock-history"></i>
                                        <a th:href="@{/search?name=${history.keyword}}" class="search-history-item">
                                            <i class="fas fa-history"></i>
                                            <span th:text="${history.keyword}"></span>
                                        </a>
                                        <!-- Nút xóa với con trỏ pointer -->
                                        <span class="delete-btn" onclick="deleteSearchHistory([[{history:searchId}]])">
                                            <i class="bi bi-x-lg"></i>
                                        </span>
                                    </li>
                                </ul>
                    
                                <ul id="suggestedProductsDropdown" class="dropdown-menu historymenu" onmousedown="event.preventDefault()">
                                    <!-- Gợi ý sản phẩm sẽ được tải vào đây -->
                                </ul>
                            </form>
                        </div>
                    </div>
                    

                    <div class="d-flex align-items-center pt-3">
                        <a class="link-secondary me-3" data-bs-toggle="modal" data-bs-target="#cartModal">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge rounded-pill badge-notification bg-danger"
                                th:text="${cartItemCount}"></span>

                        </a>

                        <!-- Modal -->
                        <div th:replace="~{site/carts/cartshopping :: cartshopping}"></div>

                        <a class="link-secondary me-3" th:href="@{/yourstyle/productfavorites}"> <i
                                class="fa-solid fa-heart"></i>
                        </a>

                        <div class="dropdown">
                            <a data-mdb-dropdown-init class="link-secondary me-3 dropdown-toggle hidden-arrow" href="#"
                                id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                                <i class="fa-solid fa-globe"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">LIÊN HỆ</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/yourstyle/about}">GIỚI THIỆU</a>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown">
                            <a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow"
                                href="#" id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
                                <img src="/site/images/logo/meme-meo-nham-hiem.png" class="rounded-circle" width="25"
                                    height="25" alt="Black and White Portrait of a Man" loading="lazy" />
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
                                <!-- Hiển thị tên người dùng nếu đã đăng nhập -->
                                <li sec:authorize="isAuthenticated()">
                                    <span class="dropdown-item" th:text="${#authentication.principal.username}"></span>
                                </li>
                                <li sec:authorize="!isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/yourstyle/accounts/login}">ĐĂNG NHẬP</a>
                                </li>
                                <li sec:authorize="!isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/yourstyle/accounts/register}">ĐĂNG KÝ</a>
                                </li>
                                <li sec:authorize="!isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/yourstyle/accounts/forgotpassword}">QUÊN MẬT
                                        KHẨU</a>
                                </li>
                                <!-- Nút Đăng xuất chỉ hiển thị khi đã đăng nhập -->
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/yourstyle/order/orderhistory}">LỊCH SỬ</a>
                                </li>
                                <li sec:authorize="isAuthenticated()">
                                    <a class="dropdown-item" th:href="@{/yourstyle/accounts/logout}">ĐĂNG XUẤT</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </nav>
        </section>
        <section>
            <nav class="navbar navbar-expand-lg bg-body-tertiary nav-flow" >
                <div class="container-fluid">
                    <ul class="navbar-nav me-auto ps-lg-0">
                        <li th:each="parentCategory : ${parentCategories}"
                            class="nav-item dropdown position-static mx-3">
                            <a th:href="@{#}" class="nav-link dropdown-toggle" data-mdb-dropdown-init
                                th:text="${parentCategory.name}" role="button" aria-expanded="false"></a>

                            <div class="dropdown-menu w-100 mt-0 rounded-0">
                                <div class="container">
                                    <div class="row my-4 flex-row flex-nowrap overflow-auto">
                                        <div th:each="childCategory : ${parentCategory.childCategories}"
                                            class="col-6 col-sm-4 col-md-2 mb-3 text-center d-flex flex-column align-items-center">

                                            <p class="text-uppercase fw-bold" th:text="${childCategory.name}"></p>
                                            <a th:href="@{/allproduct(categoryId=${childCategory.categoryId})}">
                                                <div class="bg-image hover-overlay ripple mb-3"
                                                    data-mdb-ripple-color="light"
                                                    style="width: 200px; height: 150px; overflow: hidden; border-radius: 8px;">
                                                    <img th:src="@{/uploads/{image}(image=${childCategory.image})}"
                                                        style="width: 100%; height: 100%; object-fit: cover;"
                                                        alt="Category Image" />
                                                </div>
                                            </a>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>
        <script src="/site/js/nav.js"></script>
    </section>
</body>

</html>