<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}">

<head>
    <title>Quản lý Địa chỉ Khách hàng</title>
</head>

<body>
    <section layout:fragment="main">
        <div class="displayNotifications">
            <div th:if="${messageType == 'success'}" class="alert alert-success alert-dismissible fade show"
                role="alert">
                <span th:text="${messageContent}">Thành công!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div th:if="${messageType == 'error'}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:text="${messageContent}">Đã xảy ra lỗi, vui lòng thử lại!</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Địa chỉ khách hàng</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="">Trang chủ/</a>
                        </li>
                        <li>
                            <a th:href="@{/admin/customers}">
                                <span>&nbsp; Khách hàng</span>
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <section class="section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body mt-4">
                                <!-- Form thêm địa chỉ mới -->
                                <h6>Thêm địa chỉ mới</h6>
                                <form th:action="@{/admin/addresses/saveOrUpdate}" th:object="${address}" method="post">
                                    <div class="row">
                                        <input type="hidden" name="customerId" th:value="${customerId}" />
                                        <!-- Street -->
                                        <div class="col-md-6 mb-3">
                                            <div class="form-floating">
                                                <input type="text" th:field="*{street}" class="form-control"
                                                    id="floatingstreet" placeholder="Địa chỉ cụ thể" />
                                                <label for="floatingstreet"><span class="text-danger">*</span> Địa chỉ
                                                    cụ thể</label>
                                                <div th:if="${#fields.hasErrors('street')}" class="text-danger"
                                                    th:errors="*{street}">Địa chỉ cụ
                                                    thể không hợp lệ</div>
                                            </div>
                                        </div>
                                        <!-- End Street -->

                                        <!-- City -->
                                        <div class="col-md-6 mb-3">
                                            <div class="form-floating">
                                                <select class="form-select floatingcity" id="city"
                                                    onchange="updateCityName(this)">
                                                    <option selected>Chọn Tỉnh/thành phố</option>
                                                </select>
                                                <label for="floatingCity">
                                                    <span class="text-danger">*</span>
                                                    Chọn Tỉnh/thành phố
                                                </label>
                                                <!-- Input ẩn để lưu tên thành phố -->
                                                <div th:if="${#fields.hasErrors('city')}" class="text-danger"
                                                    th:errors="*{city}">Thành phố
                                                    không hợp lệ</div>
                                                <input type="hidden" th:field="*{city}" id="cityName" />
                                            </div>
                                        </div>
                                        <!-- City -->
                                        <!-- District -->
                                        <div class="col-md-6 mb-3">
                                            <div class="form-floating">
                                                <select name="" id="district" class="form-select floatingdistrict"
                                                    disabled onchange="updateDistrictName(this)">
                                                    <option selected>Chọn Quận/huyện</option>
                                                </select>
                                                <label for="floatingdistrict">
                                                    <span class="text-danger">*</span>
                                                    Quận/huyện
                                                </label>
                                                <div th:if="${#fields.hasErrors('district')}" class="text-danger"
                                                    th:errors="*{district}">
                                                    Quận/huyện
                                                    không hợp lệ</div>
                                                <input type="hidden" th:field="*{district}" id="districtName" />
                                            </div>
                                        </div>
                                        <!-- District -->
                                        <!-- Ward -->
                                        <div class="col-md-6 mb-3">
                                            <div class="form-floating">
                                                <select name="" id="ward" class="form-select floatingward" disabled
                                                    onchange="updateWardName(this)">
                                                    <option selected>Chọn Xã/phường/thị trấn</option>
                                                </select>
                                                <label for="floatingward">
                                                    <span class="text-danger">*</span>
                                                    Xã/phường/thị trấn
                                                </label>
                                                <div th:if="${#fields.hasErrors('ward')}" class="text-danger"
                                                    th:errors="*{ward}">Xã/phường/thị
                                                    trấn
                                                    không hợp lệ</div>
                                                <input type="hidden" th:field="*{ward}" id="wardName" />
                                            </div>
                                        </div>
                                        <!-- Ward -->
                                        <div class="col-md-12">
                                            <button type="submit" class="btn btn-outline-primary">Thêm địa chỉ</button>
                                        </div>
                                    </div>
                                </form>


                                <!-- Danh sách địa chỉ hiện có -->
                                <div class="table-responsive mt-5">
                                    <table class="table table-striped-columns">
                                        <thead>
                                            <tr>
                                                <th scope="col">STT</th>
                                                <th scope="col">ID</th>
                                                <th scope="col">Địa chỉ cụ thể</th>
                                                <th scope="col">Tỉnh/Thành phố</th>
                                                <th scope="col">Quận/Huyện</th>
                                                <th scope="col">Xã/Phường</th>
                                                <th scope="col">Mặc định</th>
                                                <th scope="col">Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr th:each="address, stat : ${addresses}">
                                                <td th:text="${stat.count}"></td>
                                                <td th:text="${address.addressId}"></td>
                                                <td th:text="${address.street}"></td>
                                                <td th:text="${address.city}"></td>
                                                <td th:text="${address.district}"></td>
                                                <td th:text="${address.ward}"></td>
                                                <td th:text="${address.isDefault ? 'Có' : 'Không'}"></td>
                                                <td class="text-center">
                                                    <!-- Liên kết xóa địa chỉ -->
                                                    <a style="cursor: pointer; font-size: 21px; color: red;"
                                                        th:attr="onclick=|confirmDelete(${address.addressId}, ${customerId});|"
                                                        th:if="${!address.isDefault}">
                                                        <i class="bi bi-trash" title="Xóa"></i>
                                                    </a>

                                                    <!-- Đặt làm địa chỉ mặc định -->
                                                    <a style="cursor: pointer; font-size: 21px; color: rgb(0, 128, 255);"
                                                        th:href="@{/admin/addresses/setDefault/{addressId}(addressId=${address.addressId}, customerId=${customerId})}"
                                                        th:if="${!address.isDefault}">
                                                        <i class="bi bi-star-fill" title="Đặt làm địa chỉ mặc định"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script type="text/javascript">
            function confirmDelete(addressId, customerId) {
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa?',
                    text: "Bạn sẽ không thể hoàn tác sau khi xóa!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Xóa nó!',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/admin/addresses/delete/' + addressId + '?customerId=' + customerId;
                    }
                });
            }
        </script>

        <script src="/admin/js/customer.js"></script>
        <script src="/admin/js/addressAPI.js"></script>
        <script src="/admin/js/addressCustomer.js"></script>

    </section>
</body>

</html>