<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/index.html}">

<head> </head>

<body>
  <section layout:fragment="main">
    <div class="displayNotifications"></div>
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>
          <span th:if="${product.isEdit}">Cập nhật</span>
          <span th:unless="${product.isEdit}">Tạo</span> sản phẩm
        </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">
              <a th:href="@{/admin/products}">
                <span>Sản phẩm</span>
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mt-4">
                <!-- Floating Labels Form -->
                <form method="POST" action="/admin/products/saveOrUpdate" th:object="${product}"
                  enctype="multipart/form-data">
                  <div class="row mb-2">
                    <!-- Cột bên trái -->
                    <div class="col-md-6">
                      <input type="hidden" th:field="*{productId}" />
                      <div class="form-floating mb-3">
                        <input required type="text" th:field="*{name}" class="form-control" id="floatingName"
                          placeholder="Tên sản phẩm" />
                        <label for="floatingName"><span class="text-danger">*</span> Tên sản phẩm</label>
                      </div>

                      <div class="form-floating mb-3">
                        <input required type="number" th:field="*{price}" class="form-control" id="floatingPrice"
                          placeholder="Giá" step="0.01" />
                        <label for="floatingPrice"><span class="text-danger">*</span> Giá</label>
                      </div>

                      <label for="categorySelect" class="form-label fs-5">Chọn Danh Mục</label>
                      <select style="color: rgb(247, 120, 141); font-weight: 600;"  class="form-control mb-3" th:field="*{category.categoryId}" id="categorySelect" required>
                        <option value="">꧁⁣༒  -----------------   ∩(ミ ˃̵  ω ˂̵ ミ)∩   ----------  /ᐠ - ˕ -マ Ⳋ  ----------------  ༒꧂</option>
                        <th:block th:each="cat : ${categories}">
                          <!-- <option th:value="${cat.categoryId}" th:text="${cat.name}"> -->
                          <option th:value="${cat.categoryId}">
                            <span th:text="${cat.name}">Tên: </span>
                            <span th:if="${cat.parentCategory != null}"> (Con của: <span
                                th:text="${cat.parentCategory.name}">Cha</span>)</span>
                          </option>
                        </th:block>
                      </select>

                      <!-- Danh mục -->
                      <!-- <label for="categorySelect" class="form-label fs-5">Chọn Danh Mục</label>
                      <select class="form-control mb-3" th:field="*{category.categoryId}" id="categorySelect" required>
                        <option value="">꧁⁣༒ ---- ∩ (ミ ˃̵  ω ˂̵ ミ) ∩ --- ༒꧂</option>
                        <th:block th:each="cat : ${categories}">
                          <option th:value="${cat.categoryId}"
                            th:text="${cat.name} + (cat.parentCategory != null ? ' (Con của: ' + cat.parentCategory.name + ')' : '')">
                          </option>
                        </th:block>
                      </select> -->

                      <div class="mb-3">
                        <label for="productDetail" class="form-label">Chi tiết sản phẩm</label>
                        <textarea class="form-control" th:field="*{productDetail}" id="productDetail" rows="4"
                          required></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="description" class="form-label">Mô tả</label>
                        <textarea class="form-control" th:field="*{description}" id="description" rows="4"
                          required></textarea>
                      </div>

                      <label class="form-label mb-3"><span class="text-danger">*</span> Trạng thái</label>
                      <div class="row container">
                        <div class="form-check mb-3 col-md-6">
                          <input class="form-check-input" type="radio" th:field="*{status}" value="true"
                            id="statusActive" required />
                          <label class="form-check-label" for="statusActive"> Hoạt động </label>
                        </div>
                        <div class="form-check mb-3 col-md-6">
                          <input class="form-check-input" type="radio" th:field="*{status}" value="false"
                            id="statusInactive" />
                          <label class="form-check-label" for="statusInactive"> Không hoạt động </label>
                        </div>
                      </div>
                    </div>

                    <!-- Cột bên trái -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="hidden" th:field="*{image}" />
                        <label for="avatarInput" class="form-label ms-4" style="cursor: pointer">Ảnh đại diện</label>
                        <input type="file" th:field="*{imageFile}" id="avatarInput" class="form-control d-none"
                          onchange="loadFile(event)" />
                        <div class="avatar_wrapper d-flex align-items-center justify-content-center">
                          <img id="avatarImage" th:src="@{'/uploads/' + ${product.image}}"
                            class="border border-dark border-1"
                            style="width: 370px; height: 420px; cursor: pointer; object-fit: cover;" />
                        </div>
                      </div>
                      <div th:if="${#fields.hasErrors('imageFile')}" class="text-danger" th:errors="*{imageFile}">Chọn
                        Ảnh</div>
                    </div>

                    <!-- Cột bên phải -->
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-primary rounded-pill py-2 px-4 me-3" th:if="*{isEdit}">
                      Cập nhật
                    </button>
                    <button class="btn btn-primary rounded-pill py-2 px-4 me-3" th:unless="*{isEdit}">
                      Thêm khách hàng
                    </button>
                    <button type="reset" class="btn btn-secondary py-2 px-4 rounded-pill">
                      Làm mới
                    </button>
                  </div>
                </form>
                <!-- End floating Labels Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <script src="/admin/js/customer.js"></script>
    <script src="/admin/js/accountAddOrEdit.js"></script>
  </section>
</body>

</html>