<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/index.html}">

<head> </head>

<body>
  <section layout:fragment="main">
    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Sản phẩm</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">Sản phẩm</li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mt-4">
                <!-- Floating Labels Form -->
                <form class="">
                  <div class="row mb-2">
                    <!-- cột bên trái -->
                    <div class="col-md-6">
                      <div class="form-outline mb-3" data-mdb-input-init>
                        <input type="text" id="form12" class="form-control" />
                        <label class="form-label" for="form12"><span class="text-danger">*</span>Tên sản phẩm</label>
                      </div>
                      
                      <div class="mb-3">
                        <label for="" class="form-label">Doanh mục</label>
                        <select class="form-select form-select-lg" name="" id="">
                          <option selected>Áo Nữ</option>
                          <option value="">Áo nam</option>
                        </select>
                      </div>

                      <div class="mb-3">
                        <label for="" class="form-label">Mô tả</label>
                        <textarea class="form-control" name="" id="" rows="4"></textarea>
                      </div>

                      <label for="floatingngaysinh py-3"><span class="text-danger">*</span> Trạng thái</label>
                      <div class="form-floating mb-3">
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" />
                          <label class="form-check-label" for="flexRadioDefault1"> Hoạt động </label>
                        </div>

                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked />
                          <label class="form-check-label" for="flexRadioDefault2"> Không hoạt động </label>
                        </div>
                      </div>
                    </div>
                    <!-- cột bên trái -->

                    <!-- cột bên phải -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="avatarInput" class="form-label ms-4" style="cursor: pointer">Ảnh sản phẩm</label>
                        <input type="file" name="avatar" id="avatarInput" class="form-control d-none"
                          onchange="loadFile(event)" />
                        <div class="avatar_wrapper d-flex align-items-center justify-content-center">
                          <img id="avatarImage" src="/admin/img/anhnentrang.jpg" alt="Chọn ảnh đại diện"
                            class="border border-dark border-1" style="
                                width: 80%;
                                height: auto;
                                min-height: 440px;
                                cursor: pointer;
                                object-fit: cover;
                              " />
                        </div>
                      </div>
                    </div>
                    <!-- cột bên phải -->
                  </div>
                  <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary me-3 py-2 px-4 rounded-pill">
                      Thêm Sản phẩm
                    </button>
                    <button type="reset" class="btn btn-secondary py-2 px-4 rounded-pill">
                      Làm mới
                    </button>
                  </div>
                </form>
                <!-- End floating Labels Form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script src="/admin/js/staff.js"></script>
    <script src="/admin/js/customer.js"></script>
  </section>
</body>

</html>