<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/index.html}">

<head></head>

<body>
  <section layout:fragment="main">
    <div class="displayNotifications"></div>
    <main id="main" class="main py-5">
      <div class="pagetitle">
        <h1>
          <span th:if="${product.isEdit}">Cập nhật</span>
          <span th:unless="${product.isEdit}">Tạo</span> sản phẩm
        </h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active">
              <a th:href="@{/admin/products}">
                <span>Sản phẩm</span>
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body mt-4">
                <!-- Floating Labels Form -->
                <form method="POST" action="/admin/products/saveOrUpdate" th:object="${product}"
                  enctype="multipart/form-data">
                  <div class="row mb-2">
                    <!-- Cột bên trái -->
                    <div class="col-md-6">
                      <input type="hidden" th:field="*{productId}" />
                      <div class="form-floating mb-3">
                        <input type="text" th:field="*{name}" class="form-control" id="floatingName"
                          placeholder="Tên sản phẩm" />
                        <label for="floatingName"><span class="text-danger">*</span> Tên sản phẩm</label>
                        <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">Tên sản phẩm
                          không hợp lệ</div>
                      </div>

                      <div class="form-floating mb-3">
                        <input type="number" th:field="*{price}" class="form-control" id="floatingPrice"
                          placeholder="Giá" step="1" />
                        <label for="floatingPrice"><span class="text-danger">*</span> Giá</label>
                        <div th:if="${#fields.hasErrors('price')}" class="text-danger" th:errors="*{price}">Giá sản phẩm
                          không hợp lệ</div>
                      </div>

                      <label for="categorySelect" class="form-label fs-5">Chọn Danh Mục</label>
                      <select required style="color: rgb(247, 120, 141); font-weight: 600;" class="form-control mb-3"
                        th:field="*{category.categoryId}" id="categorySelect">
                        <option value="">꧁⁣༒ ----------------- ∩(ミ ˃̵ ω ˂̵ ミ)∩ ---------- /ᐠ - ˕ -マ Ⳋ ----------------
                          ༒꧂</option>
                        <th:block th:each="cat : ${categories}">
                          <!-- <option th:value="${cat.categoryId}" th:text="${cat.name}"> -->
                          <option th:value="${cat.categoryId}">
                            <span th:text="${cat.name}">Tên: </span>
                            <span th:if="${cat.parentCategory != null}"> (Con của: <span
                                th:text="${cat.parentCategory.name}">Cha</span>)</span>
                          </option>
                        </th:block>
                      </select>

                      <!-- Danh mục -->
                      <!-- <label for="categorySelect" class="form-label fs-5">Chọn Danh Mục</label>
                      <select class="form-control mb-3" th:field="*{category.categoryId}" id="categorySelect">
                        <option value="">꧁⁣༒ ---- ∩ (ミ ˃̵  ω ˂̵ ミ) ∩ --- ༒꧂</option>
                        <th:block th:each="cat : ${categories}">
                          <option th:value="${cat.categoryId}"
                            th:text="${cat.name} + (cat.parentCategory != null ? ' (Con của: ' + cat.parentCategory.name + ')' : '')">
                          </option>
                        </th:block>
                      </select> -->

                      <div class="mb-3">
                        <label class="form-label" for="productDetail">Chi tiết sản phẩm</label>
                        <textarea class="form-control" th:field="*{productDetail}" id="productDetail"
                          rows="4"></textarea>
                      </div>

                      <div class="mb-3">
                        <label for="description" class="form-label">Mô tả</label>
                        <textarea class="form-control" th:field="*{description}" id="description" rows="4"></textarea>
                      </div>

                      <label class="form-label mb-3"><span class="text-danger">*</span> Trạng thái</label>
                      <div class="row container">
                        <div class="form-check mb-3 col-md-6">
                          <input checked class="form-check-input" type="radio" th:field="*{status}" value="true"
                            id="statusActive" />
                          <label class="form-check-label" for="statusActive"> Hoạt động </label>
                        </div>
                        <div class="form-check mb-3 col-md-6">
                          <input class="form-check-input" type="radio" th:field="*{status}" value="false"
                            id="statusInactive" />
                          <label class="form-check-label" for="statusInactive"> Không hoạt động </label>
                        </div>
                      </div>
                    </div>

                    <!-- Cột bên trái -->
                    <div class="col-md-6">
                      <div class="form-group">
                        <input type="hidden" th:field="*{image}" />
                        <label for="avatarInput" class="form-label ms-4" style="cursor: pointer">Ảnh đại diện</label>
                        <input type="file" th:field="*{imageFile}" id="avatarInput" class="form-control d-none"
                          onchange="loadFile(event)" />
                        <div class="avatar_wrapper d-flex align-items-center justify-content-center">
                          <img id="avatarImage" th:src="@{'/uploads/' + ${product.image}}"
                            class="border border-dark border-1"
                            style="width: 370px; height: 420px; cursor: pointer; object-fit: cover;" />
                        </div>
                      </div>
                      <div th:if="${#fields.hasErrors('imageFile')}" class="text-danger" th:errors="*{imageFile}">Chọn
                        Ảnh
                      </div>

                      <!-- Khu vực thêm ảnh nhỏ -->
                      <div th:if="${product.isEdit}"
                        class="form-group mt-4 border border-dark border-1 p-3 rounded shadow bg-light">
                        <button type="button" class="btn btn-primary" id="customFileButton">Chọn ảnh bổ sung</button>
                        <button type="button" class="btn btn-success" id="saveImagesButton">Lưu ảnh</button>
                        <input type="file" id="additionalImages" class="form-control d-none" multiple accept="image/*"
                          onchange="previewImages(event)" />
                        <!-- Hiển thị ảnh bổ sung -->
                        <div id="additionalImagesPreview" class="mt-2"></div>
                        <!-- Hiển thị ảnh bổ sung -->
                        <h5>Danh sách ảnh sản phẩm</h5>
                        <div id="additionalImagesPreview" class="mt-2">
                          <div th:each="image : ${productImages}" class="img-container">
                            <img th:src="@{/uploads/} + ${image.imageUrl}" class="preview-image" alt="Product Image" />
                            <button type="button" class="delete-button"
                              th:attr="onclick='confirmDeleteImage(' + ${image.imageId} + ')'">X</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Cột bên phải -->
                  </div>
                  <div class="text-center mt-4">
                    <button class="btn btn-primary rounded-pill py-2 px-4 me-3" th:if="*{isEdit}">
                      Cập nhật
                    </button>
                    <button class="btn btn-primary rounded-pill py-2 px-4 me-3" th:unless="*{isEdit}">
                      Thêm sản phẩm
                    </button>
                    <button type="reset" class="btn btn-secondary py-2 px-4 me-3 rounded-pill">
                      Làm mới
                    </button>
                    <button type="button" class="btn btn-warning px-4 me-3 rounded-pill" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">
                      Giảm giá sản phẩm
                    </button>
                  </div>
                </form>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Quản lý giảm giá</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <h4 th:if="${isEdit}" class="bg-white py-3 text-dark">Thêm Mã Giảm Giá</h4>
                        <form th:if="${isEdit}" class="py-3" method="POST" th:action="@{/admin/discounts/save}"
                          th:object="${discount}">
                          <input type="hidden" th:field="*{discountId}" />
                          <input type="hidden" name="productId" th:value="${productId}" />
                          <div class="form-floating mb-3">
                            <input required type="text" th:field="*{discountName}" class="form-control"
                              placeholder="Tên Giảm Giá" />
                            <label for="discountName">Tên Giảm Giá</label>
                          </div>
                          <div class="form-floating mb-3">
                            <textarea th:field="*{description}" class="form-control" placeholder="Mô Tả"></textarea>
                            <label for="description">Mô Tả</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input required type="number" step="0.01" th:field="*{discountPercent}" class="form-control"
                              placeholder="Phần Trăm Giảm Giá" />
                            <label for="discountPercent">Phần Trăm Giảm Giá (%)</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input required type="datetime-local" th:field="*{startDate}"
                              th:value="${formattedStartDate}" class="form-control" placeholder="Ngày Bắt Đầu" />
                            <label for="startDate">Ngày Bắt Đầu</label>
                          </div>
                          <div class="form-floating mb-3">
                            <input required type="datetime-local" th:field="*{endDate}" th:value="${formattedEndDate}"
                              class="form-control" placeholder="Ngày Kết Thúc" />
                            <label for="endDate">Ngày Kết Thúc</label>
                          </div>
                          <div class="text-center">
                            <button type="submit" class="btn btn-primary">Lưu Mã Giảm Giá</button>
                          </div>
                        </form>

                        <h4 class="bg-white py-3 text-dark">Danh sách Giảm giá</h4>
                        <table class="table text-center text-dark bg-light">
                          <thead>
                            <tr>
                              <th>ID</th>
                              <th>Tên Giảm Giá</th>
                              <th>Mô Tả</th>
                              <th>Phần Trăm Giảm Giá</th>
                              <th>Ngày Bắt Đầu</th>
                              <th>Ngày Kết Thúc</th>
                              <th>Hành Động</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr th:each="discount : ${discounts}">
                              <td th:text="${discount.discountId}"></td>
                              <td th:text="${discount.discountName}"></td>
                              <td th:text="${discount.description}"></td>
                              <td th:text="${discount.discountPercent} + '%'"></td>
                              <td th:text="${discount.startDate}"></td>
                              <td th:text="${discount.endDate}"></td>
                              <td>
                                <a th:if="${isEdit}" style="cursor: pointer; font-size: 21px; color: green;"
                                  th:href="@{/admin/discounts/edit/{discountId}(discountId=${discount.discountId}, productId=${product.productId})}">
                                  <i class="bi bi-eye"></i>
                                </a>
                                <button style="border: none; background: none; color: red;"
                                  th:attr="onclick=|confirmDeleteDiscount(${discount.discountId});|">
                                  <i class="bi bi-trash3 ps-1"></i>
                                </button>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <hr>
                <!-- End floating Labels Form -->
                <div class="row py-4 justify-content-center bg-secondary text-center rounded">
                  <!-- Form quản lý Màu sắc -->
                  <div class="col-md-5 bg-dark py-3 text-white rounded mx-3">
                    <form method="POST" action="/admin/colors/save" th:object="${color}">
                      <h4>Quản lý Màu sắc</h4>
                      <div class="form-floating mb-3">
                        <input required type="text" th:field="*{colorName}" class="bg-dark text-white form-control"
                          placeholder="Tên màu sắc" />
                        <label for="colorName">Tên màu sắc</label>
                        <div th:if="${#fields.hasErrors('colorName')}" class="text-danger" th:errors="*{colorName}">
                          Tên màu sắc không hợp lệ
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-primary">Thêm</button>
                      </div>
                    </form>

                    <!-- Danh sách màu sắc -->
                    <div class="py-5">
                      <h4 class="bg-white py-3 text-dark">Danh sách Màu sắc</h4>
                      <table class="table text-center text-white">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Tên màu sắc</th>
                            <th>Xóa màu</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="color : ${colors}">
                            <td th:text="${color.colorId}"></td>
                            <td th:text="${color.colorName}"></td>
                            <td>
                              <button style="border: none; background: none; color: red;"
                                th:attr="onclick=|confirmDeleteColor(${color.colorId});|">
                                <i class="bi bi-trash3 ps-1"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <!-- Form quản lý Kích thước -->
                  <div class="col-md-5 bg-dark py-3 text-white rounded mx-3">
                    <form method="POST" action="/admin/sizes/save" th:object="${size}">
                      <h4>Quản lý Kích thước</h4>
                      <div class="form-floating mb-3">
                        <input required type="text" th:field="*{sizeName}" class="bg-dark text-white form-control"
                          placeholder="Tên kích thước" />
                        <label for="sizeName">Tên kích thước</label>
                        <div th:if="${#fields.hasErrors('sizeName')}" class="text-danger" th:errors="*{sizeName}">
                          Tên kích thước không hợp lệ
                        </div>
                      </div>
                      <div class="text-center">
                        <button class="btn btn-primary">Thêm</button>
                      </div>
                    </form>

                    <!-- Danh sách kích thước -->
                    <div class="py-5">
                      <h4 class="bg-white py-3 text-dark">Danh sách Kích thước</h4>
                      <table class="table text-center text-white">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Tên kích thước</th>
                            <th>Xóa kích thước</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="size : ${sizes}">
                            <td th:text="${size.sizeId}"></td>
                            <td th:text="${size.sizeName}"></td>
                            <td>
                              <button style="border: none; background: none; color: red;"
                                th:attr="onclick=|confirmDeleteSize(${size.sizeId});|">
                                <i class="bi bi-trash3 ps-1"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script type="text/javascript">
      function confirmDeleteColor(colorId) {
        Swal.fire({
          title: 'Bạn có chắc chắn muốn xóa?',
          text: "Bạn sẽ không thể hoàn tác sau khi xóa!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'xóa nó!',
          cancelButtonText: 'Hủy'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/admin/colors/delete/' + colorId;
          }
        });
      }

      function confirmDeleteSize(sizeId) {
        Swal.fire({
          title: 'Bạn có chắc chắn muốn xóa?',
          text: "Bạn sẽ không thể hoàn tác sau khi xóa!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'xóa nó!',
          cancelButtonText: 'Hủy'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/admin/sizes/delete/' + sizeId;
          }
        });
      }

      function confirmDeleteDiscount(discountId) {
        Swal.fire({
          title: 'Bạn có chắc chắn muốn xóa?',
          text: "Bạn sẽ không thể hoàn tác sau khi xóa!",
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'xóa nó!',
          cancelButtonText: 'Hủy'
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = '/admin/discounts/delete/' + discountId;
          }
        });
      }

    </script>

    <script src="/admin/js/productImages.js"></script>
    <script src="/admin/js/customer.js"></script>
    <script src="/admin/js/productList.js"></script>
    <script src="/admin/js/accountAddOrEdit.js"></script>
  </section>
</body>

</html>