<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}">

<head> </head>

<body>
    <section layout:fragment="main">
        <div class="displayNotifications"></div>
        <main id="main" class="main">
            <div class="pagetitle">
                <h1>Danh sách biến thể Sản phẩm</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="">Biến thể Sản phẩm</a>
                        </li>
                    </ol>
                </nav>
            </div>
            <!-- End Page Title -->

            <section class="section bg-white p-4">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- search and create product variant -->
                        <div class="d-flex align-items-center justify-content-between mb-3">
                            <!-- Start Search  -->
                            <div class="position-relative w-50">
                                <form th:action="@{/admin/productVariants/search}" method="get">
                                    <input type="hidden" name="size" th:value="${size}">
                                    <input type="hidden" name="page" th:value="${currentPage}">
                                    <button class="position-absolute end-0 top-50 translate-middle-y pe-3 border-0 me-1"
                                        style="background-color: white">
                                        <i class="bi bi-search"></i>
                                    </button>
                                    <input class="form-control" placeholder="Nhập tên sản phẩm..." name="value" />
                                </form>
                            </div>

                            <!-- End Search  -->
                            <!-- add product variant -->
                            <div>
                                <a id="addProductVariant"
                                    class="btn btn-warning py-lg-1 px-lg-3 rounded-pill text-white ms-3"
                                    th:href="@{/admin/productVariants/add}">
                                    <i class="bi bi-plus-circle"></i> Thêm Biến thể Sản phẩm
                                </a>
                            </div>
                            <!-- add product variant -->
                        </div>
                        <!-- search and create product variant -->
                        <!-- start list table -->
                        <div class="table-responsive">
                            <table class="table table-striped-columns">
                                <thead>
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Ảnh</th>
                                        <th scope="col">Tên sản phẩm</th>
                                        <th scope="col">Màu sắc</th>
                                        <th scope="col">Kích thước</th>
                                        <th scope="col">
                                            giá sản phẩm
                                        </th>
                                        <th scope="col">
                                            Số lượng
                                        </th>
                                        <th scope="col">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="variant, stat : ${productVariants}">
                                        <td th:text="${stat.count}"></td>
                                        <td th:text="${variant.productVariantId}"></td>
                                        <td>
                                            <img th:src="@{/uploads/} + ${variant.product.image}" alt="Image" width="50"
                                                height="50" style="object-fit: cover; border-radius: 10%;" />
                                        </td>
                                        <td th:text="${variant.product.name}"></td>
                                        <td th:text="${variant.color.colorName}"></td>
                                        <td th:text="${variant.size.sizeName}"></td>
                                        <td th:text="${variant.product.price}"></td>
                                        <td th:text="${variant.quantity}"></td>
                                        <td class="text-center">
                                            <a style="cursor: pointer; font-size: 21px; color: green;"
                                                th:href="@{/admin/productVariants/edit/{id}(id=${variant.productVariantId})}">
                                                <i class="bi bi-pencil"></i>
                                            </a>
                                            <button
                                                style="border: 1px solid red; border-radius: 10%; padding: 5px; cursor: pointer; color: rgb(255, 0, 0); background: none; border: none;"
                                                th:attr="onclick=|confirmDelete(${variant.productVariantId});|">
                                                <i class="bi bi-trash3 ps-1"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End table-->
                        <!-- start pagination -->
                        <div class="text-muted d-flex justify-content-between">
                            <form action="">
                                <div class="form-inline">
                                    <label for="size">Hiển thị:</label>
                                    <select class="px-lg-2 py-lg-1" name="size" id="size" onchange="this.form.submit()">
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="40">40</option>
                                    </select>
                                </div>
                            </form>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link"
                                            th:href="${#strings.isEmpty(value)} ? @{'?page=' + (${currentPage - 1 >= 0 ? currentPage - 1 : 0}) + '&size=' + ${size}} 
                                                            : @{'/admin/productVariants/search?page=' + (${currentPage - 1 >= 0 ? currentPage - 1 : 0}) + '&size=' + ${size} + '&value=' + ${value}}">Trước</a>
                                    </li>
                                    <li th:each="pageNum : ${pageNumbers}" class="page-item"
                                        th:classappend="${currentPage == pageNum - 1} ? 'active'">
                                        <a class="page-link"
                                            th:href="${#strings.isEmpty(value)} ? @{'?page=' + (${pageNum - 1}) + '&size=' + ${size}} 
                                                            : @{'/admin/productVariants/search?page=' + (${pageNum - 1}) + '&size=' + ${size} + '&value=' + ${value}}">[[${pageNum}]]</a>
                                    </li>
                                    <li class="page-item" th:if="${totalPages > 1}">
                                        <a class="page-link"
                                            th:href="${#strings.isEmpty(value)} ? @{'?page=' + (${currentPage + 1 < totalPages ? currentPage + 1 : currentPage}) + '&size=' + ${size}} 
                                                            : @{'/admin/productVariants/search?page=' + (${currentPage + 1 < totalPages ? currentPage + 1 : currentPage}) + '&size=' + ${size} + '&value=' + ${value}}">Sau</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- end pagination -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </section>
        </main>

        <script type="text/javascript">
            function confirmDelete(productVariantId) {
                Swal.fire({
                    title: 'Bạn có chắc chắn muốn xóa?',
                    text: "Bạn sẽ không thể hoàn tác sau khi xóa!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'xóa nó!',
                    cancelButtonText: 'Hủy'
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = '/admin/productVariants/delete/' + productVariantId;
                    }
                });
            }
        </script>

        <script src="/admin/js/accountList.js"></script>
        <script src="/admin/js/productList.js"></script>
        <script src="/admin/js/accountAddOrEdit.js"></script>
    </section>
</body>

</html>