<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{site/index.html}">

<head>
</head>

<body>
	<div id="messageArea"></div>

	<!--===== main =======-->
	<section class="py-5 container" layout:fragment="main">
		<section class="">
			<div class="row">
				<div class="col-md-3">
					<a href=""> <img src="/site/images/ao/slide/sell.webp" class="img-fluid" alt="">
					</a>
				</div>
				<!-- Slide -->
				<div class="col-md-6">
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							<!-- Tạo các nút chỉ số cho mỗi slide, có thể nhấn để chuyển đến slide tương ứng -->
							<th:block th:each="slide, iterStat : ${slides}">
								<button type="button" data-bs-target="#carouselExampleIndicators"
									th:data-bs-slide-to="${iterStat.index}"
									th:class="${iterStat.index == 0 ? 'active' : ''}"
									aria-current="${iterStat.index == 0 ? 'true' : 'false'}"
									th:aria-label="'Slide ' + (${iterStat.index + 1})"></button>
							</th:block>
						</div>
						<div class="carousel-inner">
							<!-- Hiển thị các hình ảnh của từng slide -->
							<th:block th:each="slide, iterStat : ${slides}">
								<!-- Ảnh đầu tiên -->
								<div th:class="'carousel-item ' + (${iterStat.index == 0 ? 'active' : ''})">
									<img th:src="'/uploads/slide/' + ${slide.imagePaths.split(',')[0]}"
										class="d-block w-100" th:alt="'Slide ' + (${iterStat.index + 1})"
										style="height: 300px; object-fit: cover;">
								</div>

								<!-- Các ảnh bổ sung -->
								<th:block th:each="imagePath, imgStat : ${slide.getImagePathsArray()}"
									th:if="${imgStat.index != 0}">
									<div class="carousel-item">
										<img th:src="'/uploads/slide/' + ${imagePath}" class="d-block w-100"
											th:alt="'Additional Image ' + (${iterStat.index + 1})"
											style="height: 300px; object-fit: cover;">
									</div>
								</th:block>
							</th:block>
						</div>

						<!-- Nút "Thêm" chỉ hiển thị khi người dùng có role admin hoặc staff -->
						<div class="carousel-controls mt-3"
							sec:authorize="hasRole('ROLE_ADMIN') or hasRole('ROLE_EMPLOYEE')">
							<a href="/admin/slide/add" class="btn btn-success"> <i class="bi bi-plus-circle"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-md-3" style="background: linear-gradient(0, rgb(255, 255, 255), rgb(255, 219, 218));">
					<h6 class="text-danger py-2">
						<i class="text-danger fa-solid fa-fire"></i> TOP DEAL
					</h6>
					<div class="row">
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell-3.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell-2.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
					</div>
					<div class="row">
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell-3.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
						<div class="col md-4">
							<a href=""> <img src="/site/images/ao/slide/top dell-2.webp" class="img-thumbnail" alt="">
							</a>
							<h6 class="text-center text-danger fw-bolder fs-6">212.123 Đ</h6>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="pt-5">
			<div class="row">
				<a href=""> <img src="/site/images/ao/slide/main icon.webp" class="img-fluid" alt="">
				</a>
			</div>
		</section>

		<!-- SIÊU GIAO DỊCH -->
		<section class="py-5">
			<div class="row bg-danger" style="background: linear-gradient(0, rgb(255, 255, 255), rgb(254, 210, 183));">
				<div class="header py-3" style="display: flex; justify-content: space-between;">
					<img src="/site/images/ao/slide/sieu-giao-dich.webp" alt="">
					<button class="bg-transparent border border-0">
						<a th:href="@{/allproduct(sort='best-sellers')}" class="text-danger-emphasis">XEM THÊM <i
								class="fa-solid fa-chevron-right"></i></a>
					</button>
				</div>
				<div class="best-seller">
					<div class="row">
						<th:block th:each="product, iterStat : ${bestSellers}">
							<div class="col-md-2">
								<div class="card product-card" th:if="${iterStat.index < 6}">
									<a
										th:href="@{/yourstyle/product/detail/{productId}(productId=${product.productId})}">
										<img th:src="@{'/uploads/' + ${product.image}}" class="img-fluid"
											alt="Product Image">
									</a>
									<div class="card-body">
										<p class="product-name" th:text="${product.name}"></p>
										<p class="card-text text-center text-danger fw-bolder "
											th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT')} + ' VNĐ'">
										</p>
										<p class="card-text position-absolute bottom-0 end-0 text-muted m-2 small">
											Đã bán: <span th:text="${product.totalQuantity}">0</span> sản phẩm</p>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</section>


		<section class="py-5">
			<div class="row">
				<!-- Header với tên mã giảm giá -->
				<div class="header py-3 my-2"
					style="display: flex; justify-content: space-between; background: linear-gradient(0, rgb(254, 175, 175), rgb(254, 210, 183));">
					<div class="menu__main mx-auto text-center">
						<!-- Kiểm tra nếu có discountId thì hiển thị tùy chọn "Xem các mã giảm giá khác" -->
						<div class="col-12 text-center my-2" th:if="${discountId != null}">
							<a href="/yourstyle/home" class="text-primary fw-bold">Xem các mã giảm giá khác</a>
						</div>

						<span th:each="product : ${discountedProducts}">
							<a class="text-dark fw-bolder pe-2"
								th:href="@{/yourstyle/discount/{discountId}(discountId=${product.discount.discountId})}"
								th:text="${product.discount.discountName}">Tên Giảm Giá</a> |
						</span>
					</div>

					<button class="bg-transparent border border-0">
						<a th:href="@{/allproduct(sort='discount')}" class="text-danger-emphasis">XEM THÊM <i
								class="fa-solid fa-chevron-right"></i></a>
					</button>
				</div>

				<!-- Best-seller section hiển thị các sản phẩm giảm giá -->
				<div class="discount">
					<div class="row">
						<div class="col-md-2" th:each="product,iterStat : ${discountedProducts}">
							<div class="card product-card" th:if="${iterStat.index < 6}">
								<a th:href="@{/yourstyle/product/detail/{productId}(productId=${product.productId})}">
									<img th:src="'/uploads/' + ${product.image}" class="img-fluid">
								</a>
								<div class="card-body">
									<p class="card-title product-name" th:text="${product.name}">Tên Sản Phẩm</p>
									<div class="price-info d-flex align-items-center">
										<!-- Giá đã giảm -->
										<div class="price-discount-container d-flex flex-column me-2">
											<span class="price-discount text-danger fw-bold"
												th:if="${product.discount != null}"
												th:text="${#numbers.formatDecimal(product.price - product.price * product.discount.discountPercent / 100, 1, 'COMMA', 3, 'POINT') + ' VNĐ'}">
											</span>
											<span class="price-original text-muted" th:if="${product.discount != null}">
												<del
													th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT')} + ' VNĐ'"></del>
											</span>
										</div>
										<!-- Phần trăm giảm giá -->
										<span class="badge discount-badge bg-danger m-2"
											th:if="${product.discount != null}"
											th:text="'-' + ${#numbers.formatDecimal(product.discount.discountPercent, 0, 0)} + '%'">
										</span>
										<!-- Giá gốc khi không có giảm giá -->
										<span class="price text-danger card-text fw-bolder fs-5  "
											th:if="${product.discount == null}"
											th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT')} + ' VNĐ'">
										</span>

										<a th:href="@{/yourstyle/productfavorites/add(productId=${product.productId})}">
											<i class="fa-regular fa-heart "></i>
										</a>

									</div>

								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="pt-5">
			<div class="row text-center">
				<h2 class="fw-bolder">SPOT LIGHT</h2>
			</div>
			<hr class="border border-2 border-primary">
			<div class="row bg-secondary">
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-1.webp" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-2.webp" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-3.webp" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-4.webp" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-5.webp" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="col-md-2 py-2">
					<div class="card">
						<a href=""> <img src="/site/images/SFORTLIGHT/SPORTLINE-1.webp" class="img-fluid">
						</a>
					</div>
				</div>
			</div>
		</section>
		<hr class="separator" />
		<section class="all-products py-5">
			<div class="row text-center">
				<h2 class="fw-bolder" style="margin-top: 7px">TẤT CẢ SẢN PHẨM</h2>
			</div>
			<div class="row py-5">
				<div class="col-md-2 pt-5" th:each="product : ${products}">
					<div class="card product-card ">
						<a th:href="@{/yourstyle/product/detail/{productId}(productId=${product.productId})}">
							<img th:src="'/uploads/' + ${product.image}" class="img-fluid">
						</a>
						<div class="card-body ">
							<p class="card-title product-name" th:text="${product.name}">Tên Sản Phẩm</p>
							<div class="price-info d-flex align-items-center">
								<!-- Giá đã giảm -->
								<div class="price-discount-container d-flex flex-column me-2">
									<span class="price-discount text-danger fw-bold" th:if="${product.discount != null}"
										th:text="${#numbers.formatDecimal(product.price - product.price * product.discount.discountPercent / 100, 1, 'COMMA', 3, 'POINT') + ' VNĐ'}">
									</span>
									<span class="price-original text-muted" th:if="${product.discount != null}">
										<del
											th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT')} + ' VNĐ'"></del>
									</span>
								</div>
								<!-- Phần trăm giảm giá -->
								<span class="badge discount-badge bg-danger m-2" th:if="${product.discount != null}"
									th:text="'-' + ${#numbers.formatDecimal(product.discount.discountPercent, 0, 0)} + '%'">
								</span>
								<!-- Giá gốc khi không có giảm giá -->
								<span class="price text-danger card-text fw-bolder m-2"
									th:if="${product.discount == null}"
									th:text="${#numbers.formatDecimal(product.price, 1, 'COMMA', 3, 'POINT')} + ' VNĐ'">
								</span>

								<a th:href="@{/yourstyle/productfavorites/add(productId=${product.productId})}">
									<i class="fa-regular fa-heart "></i>
								</a>

							</div>

						</div>
					</div>

				</div>
			</div>

		</section>
		<script src="/site/js/home.js"></script>
	</section>

</body>

</html>