<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/index.html}"
>
  <head> </head>

  <body>
    <section layout:fragment="main">
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Tài khoản</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active">Tài khoản</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->

        <section class="section">
          <div class="card">
            <div class="card-body mt-4">
              <!-- Floating Labels Form -->
              <form
                class="row g-3"
                th:action="@{/admin/accounts/saveOrUpdate}"
                th:object="${account}"
                method="post"
              >
                <div class="col-md-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingtennguoidung"
                      placeholder="Nhập tên tài khoản"
                      th:field="*{username}"
                    />
                    <label for="floatingtennguoidung"
                      ><span class="text-danger">*</span> Tên tài khoản</label
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control"
                      id="floatingmatkhau"
                      placeholder="Mật khẩu"
                      th:field="*{password}"
                    />
                    <label for="floatingmatkhau"
                      ><span class="text-danger">*</span> Mật khẩu</label
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control"
                      id="floatingemail"
                      placeholder="Địa chỉ Email"
                      th:field="*{email}"
                    />
                    <label for="floatingemail"
                      ><span class="text-danger">*</span> Địa chỉ Email</label
                    >
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="role" class="form-label">Vai trò</label>
                  <select
                    class="form-select"
                    id="role"
                    th:field="${account.role.name}"
                  >
                    <option value="" disabled>Chọn vai trò</option>
                    <option
                      th:each="role : ${roles}"
                      th:value="${role.roleId}"
                      th:selected="${role.roleId == account.role?.roleId}"
                    >
                      [[${role.name}]]
                    </option>
                  </select>
                </div>
                <div class="text-center mt-3">
                  <button
                    type="submit"
                    class="btn btn-primary rounded-pill py-2 px-4 me-3"
                  >
                    Tạo tài khoản
                  </button>
                  <button
                    type="reset"
                    class="btn btn-secondary rounded-pill py-2 px-4"
                  >
                    Làm mới
                  </button>
                </div>
              </form>
              <!-- End floating Labels Form -->
            </div>
          </div>
        </section>
      </main>
    </section>
  </body>
</html>
