<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/index.html}"
>
  <head> </head>

  <body>
    <section layout:fragment="main">
      <main id="main" class="main">
        <div class="pagetitle">
          <h1>Danh sách Tài khoản</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">Trang chủ</a>
              </li>
              <li class="breadcrumb-item active">Tài khoản</li>
            </ol>
          </nav>
        </div>
        <!-- End Page Title -->

        <section class="section bg-white p-4">
          <div class="row">
            <div class="col-lg-12">
              <!-- search and create staff -->
              <div
                class="d-flex align-items-center justify-content-between mb-3"
              >
                <!-- Start Search  -->
                <div class="position-relative w-50">
                  <a
                    class="position-absolute end-0 top-50 translate-middle-y pe-3"
                    href="#"
                  >
                    <i class="bi bi-search"></i>
                  </a>
                  <input
                    class="form-control"
                    placeholder="Nhập tên hoặc email..."
                  />
                </div>
                <!-- End Search  -->
                <!-- start account -->
                <div>
                  <a
                    id="addAccount"
                    class="btn btn-warning py-lg-1 px-lg-3 rounded-pill text-white ms-3"
                    th:href="@{/admin/accounts/add}"
                  >
                    <i class="bi bi-plus-circle"></i> Tạo tài khoản
                  </a>
                </div>
                <!-- add account -->
              </div>
              <!-- search and create staff -->
              <!-- start list table -->
              <div class="table-responsive">
                <table class="table table-striped-columns">
                  <thead>
                    <tr>
                      <th scope="col">STT</th>
                      <th scope="col">ID</th>
                      <th scope="col">Tên tài khoản</th>
                      <th scope="col">Mật khẩu</th>
                      <th scope="col">Email</th>
                      <th scope="col">Chức vụ</th>
                      <th scope="col">Trạng thái</th>
                      <th scope="col">Thao tác</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="">
                      <td>1</td>
                      <td>TK1</td>
                      <td>Staff</td>
                      <td>staff1234</td>
                      <td>staff@gmail.com</td>
                      <td>Nhân viên</td>
                      <td>
                        <span class="badge text-white bg-success"
                          >Hoạt động</span
                        >
                      </td>
                      <td class="text-center">
                        <a style="cursor: pointer; font-size: 21px"
                          ><i class="bi bi-eye"></i
                        ></a>
                      </td>
                    </tr>
                    <tr class="">
                      <td>2</td>
                      <td>TK3</td>
                      <td>ManagerAdmin</td>
                      <td>admin1234</td>
                      <td>admin@gmail.com</td>
                      <td>Quản lý</td>
                      <td>
                        <span class="badge text-white bg-success"
                          >Hoạt động</span
                        >
                      </td>
                      <td class="text-center">
                        <a style="cursor: pointer; font-size: 21px"
                          ><i class="bi bi-eye"></i
                        ></a>
                      </td>
                    </tr>
                    <tr class="">
                      <td>3</td>
                      <td>TK3</td>
                      <td>Staff</td>
                      <td>staff1234145</td>
                      <td>staff12312dssf@gmail.com</td>
                      <td>Nhân viên</td>
                      <td>
                        <span class="badge text-white bg-success"
                          >Hoạt động</span
                        >
                      </td>
                      <td class="text-center">
                        <a style="cursor: pointer; font-size: 21px"
                          ><i class="bi bi-eye"></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- End table-->
              <!-- start pagination -->
              <div class="text-muted d-flex justify-content-between">
                <form action="">
                  <div class="form-inline">
                    <label for="size">Page Size:</label>
                    <select
                      class="px-lg-2 py-lg-1"
                      name="size"
                      id="size"
                      onchange="this.form.submit()"
                    >
                      <option value="5">5</option>
                      <option value="10">10</option>
                      <option value="20">20</option>
                      <option value="30">30</option>
                    </select>
                  </div>
                </form>
                <nav aria-label="Page navigation">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link">first</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">last</a>
                    </li>
                  </ul>
                </nav>
              </div>
              <!-- end pagination -->
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </section>
      </main>
    </section>
  </body>
</html>
