<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}"
>
    <head></head>

    <body>
        <section layout:fragment="main">
            <main id="main" class="main">
                <div class="pagetitle">
                    <h1>Đơn hàng</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Đơn hàng</li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->

                <section class="section dashboard">
                    <div class="col-lg-12 col-md-12">
                        <div class="card card-stepper">
                            <div class="card-body p-5">
                                <!-- Progress bar -->
                                <ul id="progressbar-2">
                                    <li class="active text-center" id="step1"></li>
                                    <li class="active text-center" id="step2"></li>
                                    <li class="active text-center" id="step3"></li>
                                    <li class="text-muted text-center" id="step4"></li>
                                    <li class="text-muted text-center" id="step5"></li>
                                    <li class="text-muted text-center" id="step6"></li>
                                </ul>

                                <!-- Icons with status -->
                                <div class="d-flex justify-content-between mt-4 ordericon">
                                    <div class="icon text-center ms-4">
                                        <i class="bi bi-clipboard-check-fill"></i>
                                        <p class="step-text mt-2">Đặt hàng</p>
                                    </div>
                                    <div class="icon text-center ms-4">
                                        <i class="bi bi-box-seam-fill"></i>
                                        <p class="step-text mt-2">Đang đóng gói</p>
                                    </div>
                                    <div class="icon text-center">
                                        <i class="bi bi-truck-front-fill"></i>
                                        <p class="step-text mt-2">Đã giao cho vận chuyển</p>
                                    </div>
                                    <div class="icon text-center me-2">
                                        <i class="bi bi-rocket-takeoff-fill"></i>
                                        <p class="step-text mt-2">Đang giao hàng</p>
                                    </div>
                                    <div class="icon text-center me-2">
                                        <i class="bi bi-rocket-takeoff-fill"></i>
                                        <p class="step-text mt-2">Đang giao hàng</p>
                                    </div>
                                    <div class="icon text-center">
                                        <i class="bi bi-house-check-fill"></i>
                                        <p class="step-text mt-2">Hoàn thành</p>
                                        <!-- <p class="step-text mt-2">Trả hàng</p> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-3">
                                <div class="col-lg-12 col-md-12 mb-3 mb-lg-0">
                                    <button class="btn btn-outline-primary">Xác nhận giao hàng</button>
                                    <button class="btn btn-outline-danger ms-4">Hủy đơn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container mt-4">
                                <div class="row">
                                    <div class="col-md-12 d-flex align-items-center mb-2">
                                        <h5 class="mb-0">Danh sách sản phẩm</h5>
                                    </div>
                                    <!-- <div class="col-md-3 mb-2 d-flex justify-content-end">
                                        <button class="btn btn-outline-primary">Thêm sản phẩm</button>
                                    </div> -->
                                    <hr class="" />
                                </div>
                                <table class="table-responsive table-borderless table">
                                    <thead>
                                        <tr>
                                            <th scope="col">Ảnh</th>
                                            <th scope="col">Tên sản phẩm</th>
                                            <th scope="col">Màu</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Giá</th>
                                            <th scope="col">Số lượng</th>
                                            <th scope="col" class="">Tổng tiền</th>
                                            <!-- <th scope="col" class="text-end"></th> -->
                                        </tr>
                                    </thead>
                                    <tbody class="dssp">
                                        <tr th:each="orderDetail : ${orderDetails}">
                                            <td scope="row">
                                                <img th:src="@{${orderDetail.productVariant.product.image}}" alt="" />
                                            </td>
                                            <td>[[${orderDetail.productVariant.product.name}]]</td>
                                            <td>[[${orderDetail.productVariant.color.colorName}]]</td>
                                            <td>[[${orderDetail.productVariant.size.sizeName}]]</td>
                                            <td>[[${orderDetail.price}]]</td>
                                            <td>
                                                <input
                                                    type="number"
                                                    class="w-25"
                                                    th:value="${orderDetail.quantity}"
                                                    min="0"
                                                    disabled
                                                />
                                            </td>
                                            <td class="text-danger fw-bold">[[${formattedTotalAmount}]]</td>
                                            <!-- <td class="text-end">
                                                <button class="btn btn-outline-danger btn-sm">Xóa</button>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="container mt-4">
                                <div class="row">
                                    <h5 class="col-md-10 d-flex align-items-center">Thông tin đơn hàng</h5>
                                    <div class="col-md-2 mb-2 d-flex justify-content-end">
                                        <button class="btn btn-outline-primary">Cập nhật</button>
                                    </div>
                                    <hr />
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Mã:</strong>
                                            [[${order.orderId}]]
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Tên khách hàng:</strong>
                                            [[${order.customer.fullname}]]
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>Trạng thái:</strong>
                                            <span class="badge bg-success text-light">
                                                [[${order.statusDescription}]]
                                            </span>
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>
                                            <strong>SĐT người nhận:</strong>
                                            [[${order.customer.phoneNumber}]]
                                        </p>
                                    </div>
                                    <div class="col-md-8">
                                        <p>
                                            <strong>Địa chỉ:</strong>
                                            <span th:each="address : ${customer.addresses}">
                                                <span th:if="${address.isDefault}">
                                                    [[${address.street + ', '+ address.ward + ', ' + address.district +
                                                    ', ' + address.city}]]
                                                </span>
                                                <span th:unless="${address.isDefault}">
                                                    <span class="text-danger">
                                                        Không có địa chỉ mặc định! Vui lòng để địa chỉ mặc định!
                                                    </span>
                                                </span>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                                <!-- Thông tin bổ sung về thanh toán -->
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <div class="card p-4 shadow-sm border-0">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="mb-2">
                                                    <i class="bi bi-percent text-success" style="font-size: 1.5rem"></i>
                                                </div>
                                                <p class="text-center mb-1"><strong>Phiếu giảm giá</strong></p>
                                                <p class="badge bg-success p-2">[[${order.voucher.voucherName}]]</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card p-4 shadow-sm border-0">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="mb-2">
                                                    <i class="bi bi-tags text-warning" style="font-size: 1.5rem"></i>
                                                </div>
                                                <p class="text-center mb-1"><strong>Giảm giá</strong></p>
                                                <p class="text-warning fw-bold">-$10</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="card p-4 shadow-sm border-0">
                                            <div class="d-flex flex-column align-items-center">
                                                <div class="mb-2">
                                                    <i
                                                        class="bi bi-cash-coin text-danger"
                                                        style="font-size: 1.5rem"
                                                    ></i>
                                                </div>
                                                <p class="text-center mb-1"><strong>Tổng tiền</strong></p>
                                                <p class="text-danger fw-bold">[[${formattedTotalAmount}]]</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- End #main -->
        </section>
    </body>
</html>
