<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}">

<head> </head>

<body>
    <section layout:fragment="main">
        <main id="main" class="main">

            <div class="pagetitle">
                <h1>Bảng hóa đơn</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Bảng hóa đơn</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->

            <section class="section">
                <div class="card">
                    <div class="card-body">
                        <div class=" mt-3">
                            <h4>Hóa đơn</h4>
                            <!-- Tìm kiếm -->
                            <div class="row mb-3">
                                <!-- Ô tìm kiếm -->
                                <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                                    <div class="position-relative w-100">
                                        <span class="position-absolute start-0 top-50 translate-middle-y ps-2">
                                            <i class="bi bi-search"></i>
                                        </span>
                                        <input class="form-control ps-5" placeholder="Tìm phiếu giảm giá theo...">
                                    </div>
                                </div>

                                <!-- Date and time picker -->
                                <div class="col-lg-3 col-md-6 mb-3 mb-md-0">
                                    <div class="form-floating">
                                        <input type="datetime-local" class="form-control" id="datetimepickerFrom"
                                            value="2020-12-22T14:12:56">
                                        <label for="datetimepickerFrom">Từ ngày</label>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <div class="form-floating">
                                        <input type="datetime-local" class="form-control" id="datetimepickerTo"
                                            value="2020-12-22T14:12:56">
                                        <label for="datetimepickerTo">Đến ngày</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Bộ lọc -->
                            <div class="row mb-3">
                                <div class="col-lg-2 col-md-12 mb-3 mb-lg-0">
                                    <select class="form-select">
                                        <option selected>Kiểu</option>
                                        <option value="1">Cá nhân</option>
                                        <option value="2">Công khai</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-3 mb-lg-0">
                                    <select class="form-select">
                                        <option selected>Loại</option>
                                        <option value="1">10%</option>
                                        <option value="2">100%</option>
                                    </select>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-3 mb-lg-0">
                                    <select class="form-select">
                                        <option selected>Trạng thái</option>
                                        <option value="1">Đang diễn ra</option>
                                        <option value="2">Đã kết thúc</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-12 mb-3 mb-lg-0">
                                    <!-- Xuất Excel -->
                                    <button class="btn btn-outline-secondary">Xuất Excel</button>
                                    <button class="btn btn-outline-primary ms-4">+ Tạo mới</button>
                                </div>
                            </div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" id="orderTabs" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="all-tab" data-bs-toggle="tab"
                                        data-bs-target="#all" type="button" role="tab" aria-controls="all"
                                        aria-selected="true">Tất Cả</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="cancel-tab" data-bs-toggle="tab"
                                        data-bs-target="#cancel" type="button" role="tab" aria-controls="cancel"
                                        aria-selected="false">Đã
                                        Hủy</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="confirm-tab" data-bs-toggle="tab"
                                        data-bs-target="#confirm" type="button" role="tab" aria-controls="confirm"
                                        aria-selected="false">Chờ Xác
                                        Nhận</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="shipping-tab" data-bs-toggle="tab"
                                        data-bs-target="#shipping" type="button" role="tab" aria-controls="shipping"
                                        aria-selected="false">Chờ Giao Hàng</button>
                                </li>
                                <!-- Add more tabs as needed -->
                            </ul>
                            <!-- Tab content -->
                            <div class="tab-content" id="orderTabsContent">
                                <!-- Tất Cả tab content -->
                                <div class="tab-pane fade show active" id="all" role="tabpanel"
                                    aria-labelledby="all-tab">
                                    <!-- Bảng phiếu giảm giá -->
                                    <div class="table-responsive text-center">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã</th>
                                                    <th>Tên khách</th>
                                                    <th>Số lượng</th>
                                                    <th>Tổng tiền</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Loại đơn</th>
                                                    <th>Trạng thái</th>
                                                    <th>Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody style="word-break: break-word;">
                                                <tr>
                                                    <td>1</td>
                                                    <td>231253</td>
                                                    <td>Văn An</td>
                                                    <td>20</td>
                                                    <td>200000</td>
                                                    <td>21/12/2024 13:36</td>
                                                    <td><span class="badge bg-info text-dark">Trưc tuyến</span></td>
                                                    <td><span class="badge bg-success">Đang diễn ra</span></td>
                                                    <td><i class="bi bi-eye"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>2</td>
                                                    <td>321245</td>
                                                    <td>Trương Quốc Bảo</td>
                                                    <td>2</td>
                                                    <td>250000</td>
                                                    <td>20/12/2024 10:29</td>
                                                    <td><span class="badge bg-info text-dark">Trực tuyến</span></td>
                                                    <td><span class="badge bg-success">Đang diễn ra</span></td>
                                                    <td><i class="bi bi-eye"></i></td>
                                                </tr>
                                                <tr>
                                                    <td>3</td>
                                                    <td>092132</td>
                                                    <td>Trần Văn Đại</td>
                                                    <td>30</td>
                                                    <td>30000000000000000</td>
                                                    <td>20/12/2024 10:05</td>
                                                    <td><span class="badge bg-primary">Trực tiếp</span></td>
                                                    <td><span class="badge bg-success">Đang diễn ra</span></td>
                                                    <td><i class="bi bi-eye"></i></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <nav aria-label="Page navigation">
                                        <ul class="pagination justify-content-center">
                                            <!-- Đầu -->
                                            <li class="page-item">
                                                <a class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#" aria-label="First">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <!-- Trước -->
                                            <li class="page-item">
                                                <a class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#" aria-label="Previous">
                                                    <span aria-hidden="true">&lsaquo;</span>
                                                </a>
                                            </li>
                                            <!-- Trang Số -->
                                            <li class="page-item"><a
                                                    class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#">1</a>
                                            </li>
                                            <li class="page-item"><a
                                                    class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#">2</a>
                                            </li>
                                            <li class="page-item"><a
                                                    class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#">3</a>
                                            </li>
                                            <li class="page-item disabled"><a
                                                    class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#">...</a>
                                            </li>
                                            <li class="page-item"><a
                                                    class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#">10</a>
                                            </li>
                                            <!-- Sau -->
                                            <li class="page-item">
                                                <a class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#" aria-label="Next">
                                                    <span aria-hidden="true">&rsaquo;</span>
                                                </a>
                                            </li>
                                            <!-- Cuối -->
                                            <li class="page-item">
                                                <a class="page-link rounded text-dark bg-light border-0 shadow-sm"
                                                    href="#" aria-label="Last">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </main><!-- End #main -->
    </section>
</body>

</html>