<tbody style="word-break: break-word" class="dsorder" th:fragment="orderRows">
    <tr th:each="order,iStat : ${orders}">
        <td>[[${iStat.index + 1}]]</td>
        <td>[[${order.orderId}]]</td>
        <td>[[${order.customer.fullname}]]</td>
        <td>
            <span>[[${totalQuantities[order.orderId]}]]</span>
        </td>
        <td>[[${totalAmounts[order.orderId]}]]</td>
        <td>[[${#dates.format(order.orderDate,'dd-MM-yyyy HH:mm:ss')}]]</td>
        <td th:if="${order.orderChannel.value == 'ONLINE'}">
            <span class="badge bg-success">[[${order.orderChannel.name}]]</span>
        </td>
        <td th:if="${order.orderChannel.value == 'DIRECT'}">
            <span class="badge bg-warning">[[${order.orderChannel.name}]]</span>
        </td>
        <td th:if="${order.orderChannel.value == 'IN_STORE'}">
            <span class="badge bg-primary">[[${order.orderChannel.name}]]</span>
        </td>
        <td>
            <span class="badge bg-success">[[${order.statusDescription}]]</span>
        </td>
        <td>
            <a th:href="@{/admin/orders/detail/{orderId}(orderId=${order.orderId})}">
                <i class="bi bi-eye"></i>
            </a>
        </td>
    </tr>
</tbody>
