<!DOCTYPE html>
<html
    lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{admin/index.html}"
>
    <head></head>

    <body>
        <section layout:fragment="main">
            <main id="main" class="main">
                <!-- thông báo -->
                <div class="displayNotifications"></div>
                <div class="pagetitle">
                    <h1>Bán hàng tại quầy</h1>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/admin/home}">Trang chủ</a></li>
                            <li class="breadcrumb-item active">Bán hàng</li>
                        </ol>
                    </nav>
                </div>
                <!-- End Page Title -->

                <section class="section">
                    <div class="card">
                        <div class="card-body">
                            <div class="mt-3">
                                <h4>Bán hàng</h4>
                                <!-- Tìm kiếm -->
                                <div class="row mb-3">
                                    <!-- Ô tìm kiếm -->
                                    <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                                        <form id="searchListOrderInStore">
                                            <div class="position-relative w-100">
                                                <button
                                                    type="submit"
                                                    class="position-absolute end-0 top-50 translate-middle-y pe-3 text-warning fw-bold border-0 bg-transparent"
                                                >
                                                    <i class="bi bi-search"></i>
                                                </button>
                                                <input
                                                    id="value"
                                                    name="value"
                                                    class="form-control ps-3"
                                                    placeholder="Tìm kiếm hóa đơn ..."
                                                />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-lg-6 col-md-12 mb-3 mb-lg-0">
                                        <!-- Xuất Excel -->
                                        <!-- <a
                                            th:href="@{/admin/orders/export/excel}"
                                            class="btn btn-outline-warning fw-bold"
                                        >
                                            Xuất Excel
                                        </a> -->
                                        <button id="btnCreateOrder" class="btn btn-outline-warning fw-bold ms-4">
                                            + TẠO ĐƠN
                                        </button>
                                    </div>

                                    <!-- Bảng Hóa đơn -->
                                    <div class="table-responsive text-center">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>STT</th>
                                                    <th>Mã HĐ</th>
                                                    <th>Tên khách hàng</th>
                                                    <th>Tổng SP</th>
                                                    <th>Tổng số tiền</th>
                                                    <th>Ngày tạo</th>
                                                    <th>Loại đơn</th>
                                                    <th>Trạng thái</th>
                                                    <th>Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody style="word-break: break-word" class="listOrderInStore">
                                                <tr th:each="order,iStat : ${orders}">
                                                    <td>[[${iStat.index + 1}]]</td>
                                                    <td>[[${order.orderId}]]</td>
                                                    <td>[[${order.customer.fullname}]]</td>
                                                    <td>[[${totalQuantities[order.orderId]}]]</td>
                                                    <td>[[${totalAmounts[order.orderId]}]]</td>
                                                    <td>[[${#dates.format(order.orderDate,'dd-MM-yyyy HH:mm:ss')}]]</td>
                                                    <td
                                                        th:if="${order.orderChannel != null and order.orderChannel.value == 'ONLINE'}"
                                                    >
                                                        <span class="badge bg-success">
                                                            [[${order.orderChannel.name}]]
                                                        </span>
                                                    </td>
                                                    <td
                                                        th:if="${order.orderChannel != null and  order.orderChannel.value == 'DIRECT'}"
                                                    >
                                                        <span class="badge bg-warning">
                                                            [[${order.orderChannel.name}]]
                                                        </span>
                                                    </td>
                                                    <td
                                                        th:if="${order.orderChannel != null and  order.orderChannel.value == 'IN_STORE'}"
                                                    >
                                                        <span class="badge bg-primary">
                                                            [[${order.orderChannel.name}]]
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="badge bg-success">
                                                            [[${order.statusDescription}]]
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <a
                                                            th:href="@{/admin/sell/detail/{orderId}(orderId=${order.orderId})}"
                                                        >
                                                            <i class="bi bi-eye"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <!-- start pagination -->
                                    <div class="text-muted d-flex justify-content-between">
                                        <form action="">
                                            <div class="form-inline">
                                                <label for="size">Hiển thị:</label>
                                                <select
                                                    class="px-lg-2 py-lg-1"
                                                    name="size"
                                                    id="size"
                                                    onchange="this.form.submit()"
                                                >
                                                    <option th:selected="${orders.size == 10}" value="10">10</option>
                                                    <option th:selected="${orders.size == 20}" value="20">20</option>
                                                    <option th:selected="${orders.size == 30}" value="30">30</option>
                                                </select>
                                            </div>
                                        </form>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination" th:if="${orders.totalPages > 0}">
                                                <li
                                                    class="page-item"
                                                    th:classappend="${orders.number == 0} ? 'disabled' : ''"
                                                >
                                                    <a
                                                        class="page-link"
                                                        th:href="@{/admin/sell/searchListOrderInStore(name=${name}, size=${orders.size}, page=${0})}"
                                                    >
                                                        <i class="bi bi-chevron-double-left"></i>
                                                    </a>
                                                </li>
                                                <li
                                                    th:each="pageNumber : ${pageNumbers}"
                                                    th:classappend="${pageNumber == orders.number + 1} ? ' active' : ''"
                                                    class="page-item"
                                                >
                                                    <a
                                                        th:href="@{/admin/sell/searchListOrderInStore(name=${name}, size=${orders.size}, page=${pageNumber - 1})}"
                                                        class="page-link"
                                                        th:text="${pageNumber}"
                                                    ></a>
                                                </li>
                                                <li
                                                    th:classappend="${orders.number + 1 == orders.totalPages} ? ' disabled' : ''"
                                                    class="page-item"
                                                >
                                                    <a
                                                        th:href="@{/admin/sell/searchListOrderInStore(name=${name}, size=${orders.size}, page=${orders.totalPages - 1})}"
                                                        class="page-link"
                                                    >
                                                        <i class="bi bi-chevron-double-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- end pagination -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="module" src="/admin/js/listsell.js"></script>
                </section>
            </main>
            <!-- End #main -->
        </section>
    </body>
</html>
