<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head></head>

    <body>
        <!-- ======= Footer ======= -->
        <footer id="footer" class="footer fixed-bottom bg-white" th:fragment="footer">
            <div class="copyright">
                &copy; Bản quyền
                <strong><span>YourStyle</span></strong>
                . Mọi quyền được bảo lưu
            </div>
            <div class="credits">
                Thiết kế bởi
                <a href="">YourStyle</a>
            </div>
        </footer>
    </body>
</html>
