<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head> </head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center" th:fragment="header">
    <div class="d-flex align-items-center justify-content-between">
      <a href="" class="logo d-flex align-items-center">
        <!-- <img src="/admin/img/logo.png" alt="" /> -->
        <span class="d-none d-lg-block">YourStyle</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <!-- avtar -->
            <img
              th:src="@{${currentUser != null && currentUser.avatar != null ? '/uploads/' + currentUser.avatar : '/site/images/logo/user-icon.png'}}"
              class="rounded-circle" width="25" height="25" alt="User Avatar" loading="lazy" />
            <span class="d-none d-md-block dropdown-toggle ps-2"
              th:text="${currentUser != null ? (currentUser.fullname != null ? currentUser.fullname : (currentUser.account != null && currentUser.account.email != null ? currentUser.account.email : 'Admin')) : 'Admin'}">
            </span>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
              <li class="dropdown-header">
                <span class="d-flex">
                  <span>Xin chào:  </span> 
                  <span class=""
                    th:text="${currentUser != null ? (currentUser.fullname != null ? currentUser.fullname : (currentUser.account != null && currentUser.account.email != null ? currentUser.account.email : 'Admin')) : 'Admin'}">
                  </span>
                </span>
                <!-- <span th:if="${currentUser.account.role.name == 'ROLE_EMPLOYEE'}">Nhân viên</span> -->
                <!-- <span th:if="${currentUser.account.role.name == 'ROLE_ADMIN'}">Quản lý</span> -->
              </li>
              <li sec:authorize="isAuthenticated()">
                <a class="dropdown-item d-flex align-items-center" th:href="@{/yourstyle/accounts/logout}">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Đăng xuất</span>
                </a>
              </li>
            </ul>
            <!-- End Profile Dropdown Items -->
        </li>
        <!-- End Profile Nav -->
      </ul>
    </nav>
    <!-- End Icons Navigation -->
  </header>
  <!-- End Header -->
</body>

</html>