<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head> </head>

  <body>
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar" th:fragment="nav">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link" href="index.html">
            <i class="bi bi-grid"></i>
            <span>Thống kê</span>
          </a>
        </li>
        <!-- End Dashboard Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#orders"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-menu-button-wide"></i><span>Quản lý đơn hàng</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="orders"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href=""> <i class="bi bi-circle"></i><span>Đơn hàng</span> </a>
            </li>
          </ul>
        </li>
        <!-- End Components Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#products"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-journal-text"></i><span>Quản lý sản phẩm</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="products"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href=""> <i class="bi bi-circle"></i><span>Sản phẩm</span> </a>
            </li>
          </ul>
        </li>
        <!-- End Forms Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#categories"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-layout-text-window-reverse"></i
            ><span>Quản lý danh mục</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="categories"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href=""> <i class="bi bi-circle"></i><span>Danh mục</span> </a>
            </li>
          </ul>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#vouchers"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-receipt"></i><span>Phiếu giảm giá</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="vouchers"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="">
                <i class="bi bi-circle"></i><span>Phiếu giảm giá</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Tables Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#charts"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-bar-chart"></i><span>Biểu đồ</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="charts"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a href="">
                <i class="bi bi-circle"></i><span>Doanh thu</span>
              </a>
            </li>
            <li>
              <a href=""> <i class="bi bi-circle"></i><span>Doanh số</span> </a>
            </li>
          </ul>
        </li>
        <!-- End Charts Nav -->

        <li class="nav-item">
          <a
            class="nav-link collapsed"
            data-bs-target="#accounts"
            data-bs-toggle="collapse"
            href="#"
          >
            <i class="bi bi-gem"></i><span>Thông tin</span
            ><i class="bi bi-chevron-down ms-auto"></i>
          </a>
          <ul
            id="accounts"
            class="nav-content collapse"
            data-bs-parent="#sidebar-nav"
          >
            <li>
              <a th:href="@{/admin/accounts}">
                <i class="bi bi-circle"></i><span>Tài khoản</span>
              </a>
            </li>
            <li>
              <a th:href="@{/admin/customers/}">
                <i class="bi bi-circle"></i><span>Khách hàng</span>
              </a>
            </li>
            <li>
              <a th:href="@{/admin/staffs/}">
                <i class="bi bi-circle"></i><span>Nhân viên</span>
              </a>
            </li>
          </ul>
        </li>
        <!-- End Icons Nav -->

        <li class="nav-heading">Khác</li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-person"></i>
            <span>Hồ sơ</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-question-circle"></i>
            <span>F.A.Q</span>
          </a>
        </li>
        <!-- End F.A.Q Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="pages-contact.html">
            <i class="bi bi-envelope"></i>
            <span>Liên hệ</span>
          </a>
        </li>
        <!-- End Contact Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->
  </body>
</html>
